{% extends '_template.html' %}

{% block 'meta' %}{% include "../default/meta.html" with page_url="http://www.gbconsulting.it/404" page_title="Ooops, content not found!" %}{% endblock %}

{% block 'content' %}
            <!-- Generic Page -->
                <div class="container-fluid">
                    <div class="row-fluid">
                        <article class="post">
                            <header class="page-header">
                                <h1>Ooops...</h1>
                            </header>
                            <div class="post justifiedparagraph">
	<p>Siamo spiacenti ma il contenuto da te richiesto non è al momento disponibile.</p>
	<p>Riprova piu' tardi o scegli dove andare:</p>
	<ul>
		<li><a href="/" target="_top">home</a></li>
		{% if site.safe_environ.http_referer %}
		<li>- <a href="javascript:window.history.back()" target="_top">dov'eri prima</a></li>
		{% endif %}
	</ul>
	{% if debug and message %}
		<h2>Message:</h2>
		<pre><b>{{ message }}</b></pre>
		<h2>Trace:</h2>
		<pre>{{ traceString }}</pre>
	{% endif %}
	<br />
	<code> It is said, "To err is human"
 That quote from alt.times.lore,
 Alas, you have made an error,
 So I say, "404."

 Double-check your URL,
 As we all have heard before.
 You ask for an invalid filename,
 And I respond, "404."

 Perhaps you made a typo --
 Your fingers may be sore --
 But until you type it right,
 You'll only get 404.

 Maybe you followed a bad link,
 Surfing a foreign shore;
 You'll just have to tell that author
 About this 404.

 I'm just a lowly server
 (Who likes to speak in metaphor),
 So for a request that Idon't know,
 I must return 404.

 Be glad I'm not an old mainframe
 That might just dump its core,
 Because then you'd get a ten-meg file
 Instead of this 404.

 I really would like to help you,
 But I don't know what you're looking for,
 And since I don't know what you want,
 I give you 404.

 Remember Poe, insane with longing
 For his tragically lost Lenore.
 Instead, you quest for files.
 Quoth the Raven, "404!"</code>
</div>
                        </article><!--/.post -->
                    </div><!--/.row-fluid -->
                </div><!--/.container-fluid -->
{% endblock %}