{% extends '_template.html' %}

{% block 'meta' %}{% include "default/meta.html" with page_url="http://www.gbconsulting.it/500" page_title="Ooops, I'm confused." %}{% endblock %}

{% block 'content' %}
            <!-- Generic Page -->
                <div class="container-fluid">
                    <div class="row-fluid">
                        <article class="post">
                            <header class="page-header">
                                <h1>Ooops...</h1>
                            </header>
                            <div class="post justifiedparagraph">
								<p>Siamo spiacenti ma il contenuto da te richiesto non è al momento disponibile.</p>
								<p>Riprova piu' tardi o scegli dove andare:</p>
								<ul>
									<li><a href="/" target="_top">home</a></li>
									{% if site.safe_environ.http_referer %}
									<li>- <a href="javascript:window.history.back()" target="_top">dov'eri prima</a></li>
									{% endif %}
								</ul>
								{% if debug and message %}
									<h2>Message:</h2>
									<pre><b>{{ message }}</b></pre>
									<h2>Trace:</h2>
									<pre>{{ traceString }}</pre>
								{% endif %}
							</div>
                        </article><!--/.post -->
                    </div><!--/.row-fluid -->
                </div><!--/.container-fluid -->
{% endblock %}