            <!-- Footer -->
                <footer id="footer" role="contentinfo">
                    <div class="container-fluid">
                        <div class="row-fluid">
                        <div class="span4">
                            <p id="social">
                                <!-- <a target="_blank" href="http://www.aissitalia.it" title="Associazione Italiana Sicurezza Sussidiaria"><img src="/static/img/social/aiss_logo.png" alt="Associazione Italiana Sicurezza Sussidiaria" /></a> -->
                                <a target="_blank" href="http://www.facebook.com/MainAgency" title="Facebook"><img src="/static/img/social/facebook.png" alt="Facebook" /></a>
                                <a target="_blank" href="http://twitter.com/mainagency" title="Twitter"><img src="/static/img/social/twitter.png" alt="Twitter" /></a>
                                <a target="_blank" href="http://www.linkedin.com/company/main-agency" title="LinkedIn"><img src="/static/img/social/linkedin.png" alt="LinkedIn" /></a>
                                <a href="mailto:info@mainagency.it?subject=Messaggio%20dal%20sito" title="Email"><img src="/static/img/social/mail.png" alt="Email" /></a>
                            </p>
                            <p id="copyright">
                                2011 &copy; Main Agency s.r.l. - P.I. 02003830995
                            </p>
                        </div> <!-- /row-fluid -->
                        <div class="span8" style="text-align:right;padding-top:42px;">
                            <p id="poweredby">Powered by <a href="http://www.gbconsulting.it" title="GB Consulting" target="_blank">GB Consulting</a> and developed by <a href="http://www.baruffaldi.info" title="Filippo Baruffaldi">Filippo Baruffaldi</a></p>
                        </div> <!-- /row-fluid -->
                    </div>
                    </div> <!-- /container -->
                </footer>