            <!-- On Resize Window Page Height Handler -->
                <script type="text/javascript">/*<![CDATA[*/{% compress_jsmin %}
                          $('#body_main_element .container-fluid, #body_main_element .container, #body_main_element .featurette').css('min-height', window.innerHeight-80);
                          $(window).resize(function(e){
                            $('#body_main_element .container-fluid, #body_main_element .container, #body_main_element .featurette').css('min-height', window.innerHeight-80);
                          });
						$('#body_main_element .container-fluid, #body_main_element .container').hide();
						$($('#body_main_element .container-fluid, #body_main_element .container')[0]).fadeIn(2000);
                {% endcompress_jsmin %}/*]]>*/</script>

            <!-- Smooth Scroller -->
                <script type="text/javascript">/*<![CDATA[*/{% compress_jsmin %}
                  $('a[href*=#]').click(function() {
                    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
                    && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length && target || $('[name=' + this.hash.slice(1) +']');
                    if (target.length) {
                    var targetOffset = target.offset().top;
                    var velocity = 1000;
                    if (window.scrollY >> targetOffset)
                      velocity = targetOffset - window.scrollY;
                    else
                      velocity = window.scrollY - targetOffset;
                    if (velocity << 0)
                      velocity = parseInt(velocity.toString().replace('-',''));
                    if (velocity == 0)
                      velocity = 1000;
                    if (velocity >= 3000)
                      velocity = velocity/2;
                    $('html,body').animate({scrollTop: targetOffset}, velocity/2);
                    return false;}
                    }
                   });
                {% endcompress_jsmin %}/*]]>*/</script>

            <!-- Page Loader Scroller -->
                <script type="text/javascript">/*<![CDATA[*/{% compress_jsmin %}
					$('.navbar a[href*=#]').slice(0, $('.navbar a[href*=#]').length-2).click(function(a){
						$('#body_main_element .container-fluid, #body_main_element .container').fadeOut(2000);
						var el = $(a.target.hash);console.log(a.target.hash);
						if (a.target.hash == '#'||a.target.hash == '#home'||a.target.hash == '') {
							$('#home').fadeIn(2000);
							$('html, body').animate({
								scrollTop: $('#body_main_element').offset().top
								 }, 1000);
						} else {
							if (el.hasClass('container-fluid') || el.hasClass('container'))
								el.fadeIn(2000);
							else{
								var searching = true,
									search_el = el,
									anti_loop = 0;
								while(searching) {
									anti_loop++;
									if (search_el.hasClass('container-fluid') || search_el.hasClass('container')) {
										search_el.fadeIn(2000);
										searching = false;
									} else search_el = search_el.parent();
									if (anti_loop==30)
										break;
								}
							}
							$('html, body').animate({
								scrollTop: el.offset().top
								 }, 1000);
						}
						window.location.hash = a.target.hash;
					});
                {% endcompress_jsmin %}/*]]>*/</script>

            <!-- Cookies -->
              <script src="/static/scripts/jquery.cookie.js" type="text/javascript"></script>

            <!-- Sound -->
              <script src="/static/scripts/soundmanager2.js" type="text/javascript"></script>
              <script type="text/javascript">/*<![CDATA[*/{% compress_jsmin %}
              var sounds_enabled = true,
                  sounds = "bg page select".split(" "),
                  bgsound = "bg",
                  Sounds = {};

              if ($.cookie("sounds_enabled") == null)
                $.cookie("sounds_enabled", true);
              sounds_enabled = bool($.cookie("sounds_enabled"));

              soundManager.setup({
                url: '/static/swf/',
                // optional: use 100% HTML5 mode where available
                // preferFlash: false,
                onready: function() {
                  //var sounds = "2003 20032 beep bg bg2 click link music page select".split(" ");
                  $(sounds).each(function(a,sound){
                    Sounds[sound] = soundManager.createSound({
                      id: sound,
                      url: '/static/sounds/'+sound+'.mp3'
                    });
                    if (sound == bgsound && sounds_enabled && {% if gbkit.environment.environ.PATH_INFO != '/' %}true{% else %}false{% endif %})
                      Sounds[sound].play();
                  });
                  $("a").mouseover(function(){
                    if (sounds_enabled) Sounds['select'].play();
                  });
                  $("a").click(function(){
                    if (sounds_enabled) Sounds['page'].play();
                  });
                  $('.navbar a[href="#audio"]').click(function(){
                    if (sounds_enabled) {
                      sounds_enabled = false;
                      $('#audio_off').hide();
                      $('#audio_on').show();
                      soundManager.stop(bgsound);
                    } else {
                      sounds_enabled = true;
                      $('#audio_off').show();
                      $('#audio_on').hide();
                      soundManager.play(bgsound);
                    }
                    $.cookie("sounds_enabled", sounds_enabled);
                  });
                  if (bool($.cookie("sounds_enabled")))
                    $('#audio_off').show();
                  else
                    $('#audio_on').show();
                },
                ontimeout: function() {
                  $('.navbar a[href="#audio"]').hide()
                }
              });
                {% endcompress_jsmin %}/*]]>*/</script>

            <!-- Bootstrap -->
                <script src="/static/scripts/bootstrap.min.js"></script>
                <script type="text/javascript">/*<![CDATA[*/{% compress_jsmin %}
                (function($){
                  var gottaStop = false;
                  /*if (window.location.pathname == '/')
                       $(".navbar a.brand").addClass('active-entry');
                  $('.navbar li').removeClass('active');*/
                  $('.navbar a').each(function(a,el){
                    if (el.href == window.location) {
                        $(el).parent().addClass('active');
                        if (!gottaStop) {
                            $(el).parent().parent().parent().addClass('active');
                            gottaStop = true;
                        }
                    }
                  });
                  delete gottaStop;
                  $('head').append('<link rel="stylesheet" type="text/css" href="/static/stylesheets/bootstrap.min.css" />');
                  $('head').append('<link rel="stylesheet" type="text/css" href="/static/stylesheets/bootstrap-responsive.css" />');
                  $('head').append('<link rel="stylesheet" type="text/css" href="/static/stylesheets/all.css" />');
                  $('.navbar').scrollspy();
                  $('.dropdown-toggle').dropdown();
                })(jQuery);
                {% endcompress_jsmin %}/*]]>*/</script>

            <!-- Loading Handler -->
                <script type="text/javascript">/*<![CDATA[*/{% compress_jsmin %}
                    (function($){
                        $(document).ready(function(){
                            $('html').css('display', '');
                            if (document.height < window.outerHeight)
                                $('#back_to_top').css('display', 'none');
                        });
                    })(jQuery);
                {% endcompress_jsmin %}/*]]>*/</script>

            <!-- Google Analytics -->
            <script type="text/javascript">/*<![CDATA[*/{% compress_jsmin %}var gaJsHost=(("https:"==document.location.protocol)?"https://ssl.":"http://www.");document.write(unescape("%3Cscript src='"+gaJsHost+"google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));/*]]>*/</script><script type="text/javascript">/*<![CDATA[*/try{var pageTracker=_gat._getTracker("UA-3313712-9");pageTracker._trackPageview();}catch(err){}{% endcompress_jsmin %}/*]]>*/</script>