        <!-- jQuery -->
            {% if environment.is_production %}
            <script type="text/javascript" src="http://www.google.com/jsapi">/*]]>*/</script>
            <script type="text/javascript">/*<![CDATA[*/{% compress_jsmin %}

                 /*google.load('search', '1', {language : 'it', style : google.loader.themes.MINIMALIST});
               google.load('prototype', '1');
                google.load('scriptaculous', '1');*/
               google.load('jquery', '1');
               //google.load('jqueryui', '1');
            {% endcompress_jsmin %}/*]]>*/</script>
            {% else %}
                <script id="jQuerySource" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
                <!--<script type="text/javascript" src="/gbkit/asset/3rdparty/jquery/jquery-1.7.min.js"></script>
                <script type="text/javascript" src="/gbkit/asset/3rdparty/jquery/jquery-ui-1.8.23.min.js"></script>-->
            {% endif %}