            <!-- Twitter -->
                <script type="text/javascript">/*<![CDATA[*/{% compress_jsmin %}
                    /**
                     * Company: GB Consulting
                     * Author: Filippo Baruffaldi
                     *
                     * jQuery Twitter Auto Loader
                     *
                     * CSS classes
                     * twitter_auto_load        - set autoloading
                     * twitter_user             - set username
                     * twitter_id               - set user id to render his tweets only
                     * twitter_limit            - set tweets limit
                     * twitter_callback         - set tweets render callback
                     * twitter_errorcallback    - set error render callback
                     * twitter_boxid            - set element id to inject tweets
                     */
                    (function($){
                        if (bool($('.twitter_auto_load'))) {
                            $('.twitter_auto_load').each(function(a, tw){
                                var params = tw.className.split(' '),
                                    // Default options
                                    options = {
                                        'user': 'baruffaldi',
                                        'limit': 10,
                                        'boxid': (typeof tw.id != 'undefined')?tw.id:'twitter'
                                    };
                                // Getting conf
                                $(params).each(function(a, param){
                                    if (param.startsWith('twitter_')) {
                                        var foo = param.split('_'),
                                            key = foo[1],
                                            value = (foo.length >= 3)?param.substring(len('twitter_'+key+'_')):null;
                                        options[key] = value;
                                    }
                                });

                                // Set request url
                                var url = 'http://api.twitter.com/1/statuses/user_timeline.json?screen_name='+options['user']+'&include_rts=true&count='+options['limit']+'&include_entities=true&'+(new String(Math.random()).substring(2))+'=cacheboost&callback=?'

                                var getTweet = function(tweet){
                                    if (!tweet.entities.urls.length && !tweet.entities.hashtags.length && !tweet.entities.user_mentions.length)
                                        return tweet.text;

                                    var txt = tweet.text;

                                    $(tweet.entities.urls).each(function(i, link){
                                        txt = txt.replace(link.url, '<a href="'+link.expanded_url+'" title="'+link.display_url+'">'+link.display_url+'</a>')
                                    });

                                    return txt;
                                }

                                // Send request
                                $.ajax({
                                    type: 'GET',
                                    url: url,
                                    async: false,
                                    contentType: "application/json",
                                    dataType: 'jsonp',
                                    success: function(data){
                                        if (options.hasOwnProperty('callback') && window.hasOwnProperty(options['callback']))
                                            eval(options['callback']+'(data, options)');
                                        else {
                                            var html = '';
                                            $(data).each(function(i, tweet){
                                                tweet.date = new Date(tweet.created_at);
                                                if (!options.hasOwnProperty('id') || tweet.user.id == options['id'])
                                                    html += '<article class="post span3"><div class="post"><p><time style="font-weight:bold" datetime="'+ tweet.date.toISOString() +'">'+ tweet.date.toLocaleDateString() +'</time> - '+ getTweet(tweet) +'</p></div></article>';//<p><small class="postdate">Pubblicata da <time datetime="'+ tweet.created_at +'">'+ tweet.created_at +'</time></small></p></div></article>';
                                            });
                                            $(html).appendTo('#'+options['boxid']);
                                        }
                                    },
                                    error: function(e) {
                                        if (options.hasOwnProperty('error_callback'))
                                            eval(options['error_callback']+'(e)');
                                        else console.log(e.message);
                                    }
                                });
                            });
                        }
                    })(jQuery);
                {% endcompress_jsmin %}/*]]>*/</script>