{% if site.links.pre_meta %}
<!-- Pre Meta CSS -->
{% for css in site.links.pre_meta %}<link rel="stylesheet" type="{{css.type|default:"text/css"}}" href="{{css.path}}" />
{% endfor %}<!-- Pre Meta CSS ENDS -->{% endif %}
{% if site.links.post_meta %}
<!-- Pre Meta Scripts -->
{% for script in site.scripts.pre_meta %}<script type="{{script.type|default:"text/javascript"}}" src="{{script.path}}">/*]]>*/</script>
{% endfor %}<!-- Pre Meta Scripts ENDS -->{% endif %}

		<!-- Generic -->
            <title>{% if page_title %}{{page_title}} - {% endif %}{{site.meta.title}}</title>
			<link rel="shortcut icon" href="/static/img/logo.png" type="image/png" />
			<link rev="made" href="http://www.mainagency.it" />
            <link rel="logo" href="/static/img/logo.png" type="image/png" />
            <link rel="image" href="/static/img/logo.png" type="image/png" />

		<!-- SEO -->
            <meta name="title" content="{% if page_title %}{{page_title}} - {% endif %}{{site.meta.title}}">
            <meta name="description" content="{% firstof page_description site.meta.description '' %}">
            <meta name="keywords" content="{{page_keywords|default:''}}{{site.meta.keywords}}">
            <meta name="url" content="http://www.mainagency.it{{page_url|default:''}}">
			<meta name="robots"         content="index,follow" />
			<meta name="date"           content="27May2010" />
			<meta name="revisit-after"  content="30 Days" />
			<meta name="last-update"    content="2010-05-27 09:51:54.755617" />
			<meta name="subject"        content="Main Agency s.r.l. - All you need to Shine" />
			<meta name="author"         content="Filippo Baruffaldi" />
			<meta name="publisher"      content="Filippo Baruffaldi" />
			<meta name="reply-to"       content="info@mainagency.it" />
			<link rev="made"            href="mailto:filippo@baruffaldi.info" />
			<meta name="generator" content="GBKit (http://repository.gbconsulting.it)" />

        <!-- OpenGraph -->
            <meta property="og:title" content="{% if page_title %}{{page_title}} - {% endif %}{{site.meta.title}}" />
            <meta property="og:url" content="http://www.mainagency.it{{page_url|default:''}}">
            <meta property="og:type" content="website">
            <meta property="og:image" content="http://www.mainagency.it/static/img/logo.png"/>  <!-- TODO: change this -->
            <meta property="og:description" content="{% firstof page_description site.meta.description '' %}" />
            <meta property="og:site_name" content="{% if page_title %}{{page_title}} - {% endif %}{{site.meta.title}}"/>

        <!-- Twitter -->
            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="Main Agency s.r.l.">
            <meta name="twitter:creator" content="Main Agency s.r.l.">
            <meta name="twitter:url" content="http://www.mainagency.it{{page_url|default:''}}">
            <meta name="twitter:title" content="{% if page_title %}{{page_title}} - {% endif %}{{site.meta.title}}">
            <meta name="twitter:description" content="{% firstof page_description site.meta.description '' %}">
            <meta name="twitter:image" content="http://www.mainagency.it/static/img/logo.png">


	{% if site.links.post_meta %}
	<!-- Post Meta CSS -->
	{% for css in site.links.post_meta %}<link rel="stylesheet" type="{{css.type|default:"text/css"}}" href="{{css.path}}" />
	{% endfor %}<!-- Post Meta CSS ENDS -->{% endif %}

	{% if site.links.post_meta %}
	<!-- Post Meta Scripts -->
	{% for script in site.scripts.post_meta %}<script type="{{script.type|default:"text/javascript"}}" src="{{script.path}}">/*]]>*/</script>
	{% endfor %}<!-- Post Meta Scripts ENDS -->{% endif %}
