        <!-- Mobile -->
            <meta name="HandheldFriendly" content="True" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="apple-touch-fullscreen" content="yes" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="apple-mobile-web-app-status-bar-style" content="default" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">