        <!-- Loading Handler -->
            <script type="text/javascript">{% compress_jsmin %}
                $('html').css('display', 'none');
            {% endcompress_jsmin %}</script>
            <noscript>
                <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet" media="all">
                <link href="/static/stylesheets/bootstrap-responsive.min.css" rel="stylesheet" media="all">
                <link href="/static/stylesheets/all.css" rel="stylesheet" media="all">
            </noscript>

{% if site.links.post_scripts %}
<!-- Post Scripts CSS -->
{% for css in site.links.post_scripts %}<link rel="stylesheet" type="{{css.type|default:"text/css"}}" href="{{css.path}}" />
{% endfor %}<!-- Post Scripts CSS ENDS -->{% endif %}