{% spaceless %}{% autoescape off %}
{% if site.requested_format in site.formats %}
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html
     PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN'
     'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" />
        <title>{% block title %}Home - {% endblock %}{{site.meta.title}}</title>
{% endif %}
{% if site.requested_format in site.formats %}

    {% block prehead %}{% endblock %}

    {% if site.links.pre_meta %}
	<!--
	    Pre Meta CSS
	 -->
	{% for css in site.links.pre_meta %}<link rel="stylesheet" type="{{css.type|default:"text/css"}}" href="{{css.path}}" />
	{% endfor %}<!-- Pre Meta CSS ENDS -->{% endif %}
    {% if site.links.post_meta %}
	<!--
	    Pre Meta Scripts
	 -->
	{% for script in site.scripts.pre_meta %}<script type="{{script.type|default:"text/javascript"}}" src="{{script.path}}"></script>
	{% endfor %}<!-- Pre Meta Scripts ENDS -->{% endif %}

        <!--
            Meta Informations
         -->
<!--
        <meta name="robots"         content="" />
        <meta name="subject"        content="" />
        <meta name="author"         content="" />
        <meta name="publisher"      content="" />
        <meta name="reply-to"       content="" />
 -->
        <meta name="title"          content="{{site.meta.title}}" />
        <meta name="generator"      content="GPress" />
        <link rev="made"            href="http://www.gbc-italy.com" />
        <link rel="shortcut icon"   href="/favicon.png" type="image/png" />
        <link rel="logo"   href="/logo.png" type="image/png" />

        <!--
            Stylesheets
         -->

	{% if site.links.post_meta %}
	<!--
	    Post Meta CSS
	 -->
	{% for css in site.links.post_meta %}<link rel="stylesheet" type="{{css.type|default:"text/css"}}" href="{{css.path}}" />
	{% endfor %}<!-- Post Meta CSS ENDS -->{% endif %}

        <!--
            Scripts
         -->

	{% if site.links.post_meta %}
	<!--
	    Post Meta Scripts
	 -->
	{% for script in site.scripts.post_meta %}<script type="{{script.type|default:"text/javascript"}}" src="{{script.path}}"></script>
	{% endfor %}<!-- Post Meta Scripts ENDS -->{% endif %}

	{% if site.links.post_scripts %}
	<!--
	    Post Scripts CSS
	 -->
	{% for css in site.links.post_scripts %}<link rel="stylesheet" type="{{css.type|default:"text/css"}}" href="{{css.path}}" />
	{% endfor %}<!-- Post Scripts CSS ENDS -->{% endif %}

	{% block head %}
		{% if settings.meta_description %}
			<meta name="description"    content="{{settings.meta_description}}" />
		{% else %}
			<meta name="description"    content="The official -{{settings.meta_title}}-'s website." />
		{% endif %}
	{% endblock %}
{% endif %}
{% if site.requested_format in site.formats %}
    </head>
    <body>
{% endif %}
{% if site.requested_format in site.formats %}
	{% if site.scripts.pre_body %}
	<!--
	    Pre Body Scripts
	 -->
	{% for script in site.scripts.pre_body %}<script type="{{script.type|default:"text/javascript"}}" src="{{script.path}}"></script>
	{% endfor %}<!-- Pre Body Scripts ENDS -->{% endif %}
{% endif %}
	{% block body %}{% endblock %}
{% if site.requested_format in site.formats %}
			<script type="text/javascript">
			    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			    try {
			    var pageTracker = _gat._getTracker("UA-9196923-12");
			    pageTracker._trackPageview();
			    } catch(err) {}
			</script>

	{% if site.scripts.post_body %}
	<!--
	    Post Body Scripts
	 -->
	{% for script in site.scripts.post_body %}<script type="{{script.type|default:"text/javascript"}}" src="{{script.path}}"></script>
	{% endfor %}<!-- Post Body Scripts ENDS -->{% endif %}
{% endif %}
{% if site.requested_format in site.formats %}
    </body>
</html>
{% endif %}{% endautoescape %}{% endspaceless %}
<!--

 GBKit
 - WebApps Python Handy Framework

 Copyright 2012 GB Consulting
 Author: Filippo Baruffaldi <filippo@baruffaldi.info>

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License. -->
