{% spaceless %}{% autoescape off %}
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html
     PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN'
     'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" />
        <title>{% block title %}Home - {% endblock %}{{site.meta.title}}</title>
        <style>
        body, html{
            color: #666;
        cursor: auto;
        font-family: arial, sans-serif;
        font-size: 13px;
        }
        h1{
            color: #000;
        }
        #credits{
            font-size:10px;
        }
        </style>
    {% if site.links.pre_meta %}
	<!-- Pre Meta CSS -->
	{% for css in site.links.pre_meta %}<link rel="stylesheet" type="{{css.type|default:"text/css"}}" href="{{css.path}}" />
	{% endfor %}<!-- Pre Meta CSS ENDS -->{% endif %}
    {% if site.links.post_meta %}
	<!-- Pre Meta Scripts -->
	{% for script in site.scripts.pre_meta %}<script type="{{script.type|default:"text/javascript"}}" src="{{script.path}}">/*]]>*/</script>
	{% endfor %}<!-- Pre Meta Scripts ENDS -->{% endif %}
<!--
	{% if environment.is_production %}
	<script type="text/javascript" src="http://www.google.com/jsapi">/*]]>*/</script>
	<script type="text/javascript">/*<![CDATA[*/{% compress_jsmin %}

	     /*google.load('search', '1', {language : 'it', style : google.loader.themes.MINIMALIST});
	   google.load('prototype', '1');
	    google.load('scriptaculous', '1');*/
	   google.load('jquery', '1');
	   google.load('jqueryui', '1');
	{% endcompress_jsmin %}/*]]>*/</script>
    {% else %}
    	<script type="text/javascript" src="/asset/3rdparty/prototype/prototype.js"></script>
    	<script type="text/javascript" src="/asset/3rdparty/scriptaculous/scriptaculous.js"></script>
    	<script type="text/javascript" src="/gbkit/asset/3rdparty/jquery-1.7.min.js"></script>
    	<script type="text/javascript" src="/gbkit/asset/3rdparty/jquery-ui-1.8.23.min.js"></script>
    {% endif %}
-->
        <!-- Meta Informations -->

        <!--<meta name="title"          content="{{site.meta.title}}" />-->
        <meta name="generator" content="GBKit (+http://gbkit.demo.coolminds.org)" />
        <link rev="made" href="http://www.gbc-italy.com" />
        <link rel="shortcut icon" href="/favicon.png" type="image/png" />
        <link rel="logo" href="/logo.png" type="image/png" />

        <!-- <meta http-equiv="refresh"          content="3" /> -->
        <!-- Stylesheets -->
	{% if site.links.post_meta %}
	<!-- Post Meta CSS -->
	{% for css in site.links.post_meta %}<link rel="stylesheet" type="{{css.type|default:"text/css"}}" href="{{css.path}}" />
	{% endfor %}<!-- Post Meta CSS ENDS -->{% endif %}

        <!-- Scripts -->

	{% if site.links.post_meta %}
	<!-- Post Meta Scripts -->
	{% for script in site.scripts.post_meta %}<script type="{{script.type|default:"text/javascript"}}" src="{{script.path}}">/*]]>*/</script>
	{% endfor %}<!-- Post Meta Scripts ENDS -->{% endif %}

	{% if site.links.post_scripts %}
	<!-- Post Scripts CSS -->
	{% for css in site.links.post_scripts %}<link rel="stylesheet" type="{{css.type|default:"text/css"}}" href="{{css.path}}" />
	{% endfor %}<!-- Post Scripts CSS ENDS -->{% endif %}

	{% block head %}{% endblock %}
    </head>
    <body>
	{% if site.scripts.pre_body %}
	<!-- Pre Body Scripts -->
	{% for script in site.scripts.pre_body %}<script type="{{script.type|default:"text/javascript"}}" src="{{script.path}}">/*]]>*/</script>
	{% endfor %}<!-- Pre Body Scripts ENDS -->{% endif %}

	{% block body %}{% endblock %}

	{% if site.is_production %}
			<script type="text/javascript">/*<![CDATA[*/{% compress_jsmin %}
			    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			{% endcompress_jsmin %}/*]]>*/</script>
			<script type="text/javascript">/*<![CDATA[*/{% compress_jsmin %}
			    try {
			    var pageTracker = _gat._getTracker("UA-9196923-12");
			    pageTracker._trackPageview();
			    } catch(err) {}
			{% endcompress_jsmin %}/*]]>*/</script>
	{% endif %}

	{% if site.scripts.post_body %}
	<!-- Post Body Scripts -->
	{% for script in site.scripts.post_body %}<script type="{{script.type|default:"text/javascript"}}" src="{{script.path}}">/*]]>*/</script>
	{% endfor %}<!-- Post Body Scripts ENDS -->{% endif %}
    </body>
</html>{% endautoescape %}{% endspaceless %}
<!--

 GBKit
 - WebApps Python Handy Framework

 Copyright 2012 GB Consulting
 Author: Filippo Baruffaldi <filippo@baruffaldi.info>

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License. -->
