        <!-- Navigation -->
            <nav role="navigation" id="main-navbar" class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a style="color: #fff;padding:15px 10px 0 0;margin:0;" class="brand" href="#"><!--[if lte IE 8]><img style="width:32px" src="/static/img/logo.png" class="logo responsive-image" alt=""><![endif]--><!--[if gte IE 9]><!--><!--<img style="width:32px" src="/static/img/logo.png" class="logo responsive-image" alt=""><![endif]--><img style="width:32px;padding:0 0;margin:0 0;" src="/static/img/logo.png" class="logo responsive-image" alt=""> Main Agency s.r.l.</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li><a href="#home"><i class="icon-home"></i></a></li>
                                <li><a href="#our_news">News</a></li>
                                <li><a href="#company">Profilo Aziendale</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" id="servicesLabel" data-toggle="dropdown">
                                    <i class="icon-th-large"></i> Servizi <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="servicesLabel">
                                        <li><a href="#events">Eventi</a></li>
                                        <li><a href="#security">Security</a></li>
                                        <li><a href="#limousine">Limousine</a></li>
                                        <li><a href="#life-style">Life Style</a></li>
                                    </ul>
                                </li>
                                <li><a href="#press">Rassegna Stampa</a></li>
                                <li><a href="#partners">Partners</a></li>
                            </ul><!--/.nav -->
                            <ul class="nav pull-right">
                                <li><a href="#contacts"><i class="icon-road"></i> Come Raggiungerci</a></li>
                                <li id="audio_off" style="display:none;"><a style="color: #fff" href="#audio"><i class="icon-headphones icon-white"></i> Disattiva l'audio</a></li>
                                <li id="audio_on" style="display:none;"><a style="color: #999" href="#audio"><i class="icon-headphones"></i> Abilita l'audio</a></li>
                            </ul><!--/.nav.pull-right -->
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </div><!--/.navbar-inner -->
            </nav><!--/.navbar -->