<style>
body, html{
    color: #666;
cursor: auto;
font-family: arial, sans-serif;
font-size: 13px;
}
h1{
    color: #000;
}
#credits{
    font-size:10px;
}
</style>
<div style="text-align: center;">
<img style="vertical-align: middle;" src="/gbkit/asset/images/logo.png" alt="GBConsulting" />
<h2 style="display: inline;">- GBKit -</h2>
</div>
<hr style="border: 3px solid #E5ECF9;" />
<div style="padding-left: 16px">
    <h1>Ooops! Something has gone wrong.</h1>
    <p style="font-style: italic;">" The page you requested does not exists or is not accessible. "</p>
    <br />
    <p>Retry later or choose where to go:</p>
    <ul>
        <li><a href="javascript:window.history.back()" target="_top">where you were</a></li>
        <li><a href="/" target="_top">home</a></li>
    </ul>
</div>
<!-- {% block error %}{% endblock %} -->
<!-- {% block google_translate %} -->
<!-- Google Translate Element -->
<div id="google_translate_element" style="font-size:11px;"></div>
<script type="text/javascript">//<![CDATA[
function googleTranslateElementInit(){new google.translate.TranslateElement({pageLanguage:'en',autoDisplay:false},'google_translate_element');}
//]]></script><script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<style>.goog-te-gadget,.goog-logo-link,.goog-te-gadget a,.goog-logo-link a{font-size:11px;}</style>
<!-- {% endblock %} -->
<hr style="border: 3px solid #E5ECF9;" />
<div id="credits" style="text-align:center;"><p><i>Powered by <a href="http://gb-kit.demo.coolminds.org" title="GBKit main site">GBKit</a></i></p></div>
<!--

 GBKit
 - WebApps Python Handy Framework

 Copyright 2012 GB Consulting
 Author: Filippo Baruffaldi <filippo@baruffaldi.info>

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License. -->
