﻿{% extends 'shared.html' %}
{% block head %}
        <title>Main Agency SRL - Events, Security, Limousine, Life-Style</title> 
        <meta name="title"          content="Main Agency SRL - Events, Security, Limousine, Life-Style" /> 
        <meta name="description"    content="Main Agency is a security agency that operates in Liguria (Italy) for the most famous night-places, events and concerts." /> 
        <script type="text/javascript" src="/static/news.js"></script>
        <script type="text/javascript" src="/static/switch_background.js"></script>
{% endblock %}

{% block body %}
        <div id="bgs">
	        <img id="background" src="/static/bg.jpg" alt="-" />
	        <img style="display:none" id="backgroundevents" src="/static/events.jpg" alt="-" />
	        <img style="display:none" id="backgroundsecurity" src="/static/security.jpg" alt="-" />
	        <img style="display:none" id="backgroundlimousine" src="/static/limousine.jpg" alt="-" />
	        <img style="display:none" id="backgroundlife-style" src="/static/life-style.jpg" alt="-" />
        </div>
        <img style="display: none;" id="backgroundContent" src="/static/light.png" alt="-" />
        <div id="backgroundMotto" class="css3_pulsate">
            <!-- All you need to Shine --><img src="/static/allyouneedtoshine.png" alt="All you need to Shine" />
        </div>
        <div id="menu">
            <div id="menuWrapper">
                <dl>
                	<dd><a href="/" title="Change Language"><img style="height: 50px;vertical-align:middle;" src="/static/logo.png" alt="Main Agency S.R.L." /></a></dd>
                    <dd><a onclick="switchBackground('home')" href="#home" title="Home">Home</a></dd>
                    <dd><a onclick="switchBackground('news')" href="#news" title="News">News</a></dd>
                    <dd><a onclick="switchBackground('companyOverview')" href="#companyOverview" title="Company Overview">Company Overview</a></dd>
                    <dd><a onclick="switchBackground('press')" href="#press" title="Rassegna Stampa">Press</a></dd>
                    <!-- <dd><a onclick="switchBackground('gallery')" href="#gallery" title="Our Partners">Multimedia</a></dd> -->
                    <dd><a onclick="switchBackground('partners')" href="#partners" title="Our Partners">Partners</a></dd>
                    <dd><a onclick="switchBackground('whereWeAre')" href="#whereWeAre" title="Where We Are">Where We Are</a></dd>
                </dl>
{%include 'player.html'%}
            </div>
        </div>
        <!-- TODO Suoni -->
        <!-- TODO Gallery -->
           <br id="home" />
           <div class="content">
               <div class="contentContainer" style="text-align:center;">
               <img class="css3_grow" src="/static/logo.png" alt="-" />
               </div>
           </div>
        <div id="contents" style="top: 3000px;position: absolute;">
            <div class="content" id="news">
                <div class="contentContainer">
                <h1 class="contentTitle">News</h1>
                <div class="contentText">
					<dl id="news_container">
					<dd id="news_courtesy_msg">...Loading News... Please Wait.</dd>
					</dl>
                </div>
                </div>
            </div>
            <div class="content" id="companyOverview">
                <div class="contentContainer">
                <h1 class="contentTitle">Company Overview</h1>
                <div class="contentText">
Main Agency takes its start from the fusion of three different agencies already operating since more than 10 years in the show business sector and it claimed itself right away within the national territory, turning, to this day, into one of the most competitive in this field and into a benchmark for companies and enterprises.<br /><br />
This agency benefits of national and international partners and of a multilingual team with certifications and register inscriptions.<br /><br />
Our whole staff is selected following standards as image, courtesy, aptitude for interpersonal interactions and culture level.<br /><br />
A strong synergy among the agencies, meticulous modus operandi, a solid organizational structure and rigorous qualification and efficiency of their collaborators, that’s how Main Agency is able to satisfy any requirement: from planning and managing any type of logistic service to public events arrangement for the companies, institutions and privates.<br /><br />
Main Agency is specialized in high quality services for companies involved in organization, management and producing of public events such as congresses, concerts, fashion shows, film sets and other various events.
                </div>
                </div>
            </div>
            <div class="content" id="events">
                <div class="contentContainer">
                <h1 class="contentTitle">Events</h1>
                <div class="contentText">
The planning of an event requires a meticulous analysis that implies interaction of various abilities, Main agency avails itself of its experience and high level know-how developed through years.<br /><br />
After a first research over the client’s needs and careful investigation about event’s requirements and logistics, Main Agency elaborates out-and-out logistic, commercial and communication strategy making use of its capabilities and its team. The primary goal of Main Agency is the customer’s satisfaction.<br /><br />
Main Agency takes care of many aspects such as budget administration, design menu, catering service, locations and transportations planning, coordinating the move-in and move-out operations.<br /><br />
The areas of intervention vary from Gala Parties to Film Premières, Main Agency is flawless in organization of commercial, cultural, corporate, show business events, conventions, themed evenings, wedding parties and any other type of special event.
                </div>
                </div>
            </div>
            <div class="content" id="security">
                <div class="contentContainer">
                <h1 class="contentTitle">Security</h1>
                <div class="contentText">
Main Agency is made up of reputable security professionals and experts in this field.<br /><br />
We offer a wide set of Security and Safety services that include planning, and carrying out of logistic turnkey strategies for suites, escorts and events like congresses, shows, concerts, tours or any kind of public or private event.<br /><br />
Main Agency provides security solutions in hazard management for enterprises, institutions and private clients. Our clients are multinational companies, international organizations and important companies within the national territory.<br /><br />
The security services include the strict VIP protection, personal safety of the employees and analysis of potential threats. Our approach is reactive and personalized.<br /><br />
Our client’s tranquility is a reason for us to be proud.<br /><br />
Our security services include:
<dl>
	<dd>Access supervision</dd>
	<dd>Security services for events</dd>
	<dd>Clubs security</dd>
	<dd>Corporate security</dd>
	<dd>Private security</dd>
	<dd>Bodyguard</dd>
	<dd>Marine security</dd>
	<dd>Institution security</dd>
	<dd>Vigilance service</dd>
</dl>
                </div>
                </div>
            </div>
            <div class="content" id="limousine">
                <div class="contentContainer">
                <h1 class="contentTitle">Limousine</h1>
                <div class="contentText">
The Main Agency’s mission is to offer to the customers a prestigious and exclusive limousine service and  renting with a driver for all types of occasions all around the world.<br /><br />
Thanks to the partnership with national and international limousine renting companies, world leaders, open 365 days a year 24/7 and to the collaboration of multilingual professionals with certifications and register inscriptions, we can present an offer of services that fully satisfies the client’s requirements.<br /><br />
You can choose among saloon cars, space wagons, SUV, vans, with welcoming service in airports, sea ports and train stations. For your events we are able to provide a same model and color rolling stock. <br /><br />
It’s our duty to give special attention to the elegance and privacy details of the service.
                </div>
                </div>
            </div>
            <div class="content" id="life-style">
                <div class="contentContainer">
                <h1 class="contentTitle">Life-Style</h1>
                <div class="contentText">
Main Agency specializes  in providing an earth, sea and air luxury experience. Main Agency has gained experience in luxury yacht renting and offers brokerage for our net around the world. Let the Main Agency take care of everything while you are enjoying your holiday or business trip. Main Agency has access to a series of high-end luxury aircrafts in order to provide secure and efficient first class services, oriented towards public, private organizations and any other reality operating in show business sector.<br /><br />
With Main Agency you’ll have a wide selection of exclusive rentable residences for holidays or events, in Europe and all around the world. All our locations has been chosen for their position, quality and elegance. We offer only the best locations.<br /><br />
With Main Agency and its VIP care made up of personalized service, prestigious locations, watercrafts and aircrafts with a crew, your experiences will fully exceed your expectations.
                </div>
                </div>
            </div>
<!--             <div class="content">
                <div class="contentContainer" id="gallery">
                <h1 class="contentTitle">Multimedia</h1>
                <div class="contentText">
                    <div id="dockContainer"><div><div><div id="dock"></div></div></div></div>
                </div>
                </div>
            </div> -->
            <div class="content" id="partners">
                <div class="contentContainer">
                <h1 class="contentTitle">Our Partners</h1>
                <div class="contentText">
                	<a href="http://www.shipandcrew.it/noleggia_il_tuo_Yacht.html?utm_campaign=mainagency&amp;utm_medium=mainagency&amp;utm_source=mainagency" title="S.C.S." target="_blank">
                		<img id="banner_scs" src="/static/banners/scs/image001.jpg" alt="S.C.S." />
                	</a>
                	<script type="text/javascript">
                		var b_scs_c = 0;
                		setInterval(function(){
                			if (b_scs_c == 4)
                				b_scs_c = 0;
                			b_scs_c++;
                			$('#banner_scs')[0].src = '/static/banners/scs/image00'+b_scs_c+'.jpg';
                		}, 2000);
                	</script>
                </div>
                </div>
            </div>
            <div class="content" id="press">
                <div class="contentContainer">
                <h1 class="contentTitle">Press Room</h1>
                <div class="contentText">
<div class="press-post">
<h3>Un vero bodyguard non dorme mai</h3>
<p>09 luglio 2011 | Fabrizio Basso - (IlSecoloXIX) - Genova - I locali li chiamano per vigilare sulla tranquillità degli ospiti. E loro rispondono, sorvegliando che tutto fili liscio durante le serate e che non ci siano eccessi, neppure compiuti da chi cerca un momento “a due” sulla spiaggia. Ce lo racconta Antonio Boccuni, 42 anni, di Taranto ma genovese di adozione, bodyguard di professione. La sua agenzia si chiama Main Agency e ha sede in via Odessa a Genova. Al suo fianco il fratello Francesco, il socio Luca Parodi e una squadra di circa 70 persone che accresce l’organico anche con i contratti a progetto. L’estate è per loro una stagione particolare, con le decine di richieste da parte dei locali che si arricchiscono di serate sulla spiaggia. Poi ci sono, è vero, clienti da guardare con occhi speciali: «Quando capitano al Covo di Nord Est a Santa Margherita Marina Berlusconi o Stefano Gabbana noi siamo lì. Discreti ma attenti. Siamo educati e professionali». Con tutti, anche con le coppiette appartate che non sempre reagiscono bene quando si trovano costrette a interrompere il loro idillio. E che magari si lasciano un po’ andare, complici il caldo e la sensazione, tipicamente estiva, di sentirsi più liberi.</p>
<br />
<p>fonte: IlSecoloXIX - <a href="http://www.ilsecoloxix.it/p/genova/2011/07/09/AOXn1Yj-dorme_vero_bodyguard.shtml" title="link articolo completo">link articolo completo</a></p>
</div>
<div class="press-post">
<h3>Cinema: grande festa a Roma per il nuovo film di Muccino 'Un altro mondo'</h3>
<p>Roma, 18 dic.(2010) - (Adnkronos) - Serata all'insegna del divertimento, dello spettacolo, della grande musica e di tante performances a sorpresa che saranno svelate nel corso dell'esclusivo party organizzato per la presentazione del nuovo film di Silvio Muccino: "Un altro mondo" prodotto da Universal Pictures International e Cattleya. Dopodomani alle 23 all'Art Caffe', storico locale romano, si terra' un party unico con live show: "Le mani" Dj-set: Andro (Andrea Mariano from Negramaro) Federico Russo (from Radio Deejay) Max Brigante (from Radio 105) Fabri e Dario (2gether), ideato da Antonio Boccuni della Main Agency e organizzato da Irene Capuano dell'agenzia Ira. Sara' anche una serata dedicata alla riflessione e alla solidarieta' durante la quale Silvio Muccino e Carla Vangelista, con la partecipazione di Gianfranco Morino, presenteranno agli invitati l'iniziativa benefica "Progetto Neema" di cui Silvio e Carla sono testimonial. Tra le attrici presenti ci saranno Euridice Axen, Daniela Virgilio e molti altri.</p>
<br />
<p>fonte: Adnkronos - <a href="http://www.adnkronos.com/IGN/News/Spettacolo/Cinema-grande-festa-a-Roma-per-il-nuovo-film-di-Muccino-Un-altro-mondo_311423065614.html" title="link articolo completo">link articolo completo</a></p>
</div>
<script type="text/javascript">
/*$(".press-post p").hide();
$(".press-post h3").each(function(i,el){
	$(".press-post h3")[i].click(function(el){
		$(".press-post h3")[i].next().toggle();
		$(".press-post h3")[i].next().next().toggle();
	});
});*/
</script>
                </div>
                </div>
            </div>
            <div class="content" id="whereWeAre">
                <div class="contentContainer">
                <h1 class="contentTitle">Where We Are</h1>
                <div class="contentText">
<div class="left">
<h2>Main Agency SRL</h2>
P.I. 02003830995<br />
<br />
<h3>Office</h3>
Via Odessa 10<br />
16129 Genoa (Italy)<br />
<br />
Tel +39 010 859 2787<br />
Fax +39 010 860 2638<br />
<br />
info @ mainagency.it<br />
www . mainagency . it<br />
<br />
<h3>Chief Executive Officers</h3>
<b>Francesco Boccuni</b><br />
Mobile +39 349 709 6068<br />
francesco . boccuni @ mainagency . it<br />
<br />
<b>Antonio Boccuni</b><br />
Mobile +39 347 265 1880<br />
antonio . boccuni @ mainagency . it<br />
<br />
<b>Luca Parodi</b><br />
Mobile +39 335 622 9101<br />
luca . parodi @ mainagency . it
</div>
<div style="text-align: right;">
<a href="http://goo.gl/maps/ctTa" title="Clicca qui per la mappa!"><img style="border: 5px solid #fff;" src="/static/map.png" alt="Clicca qui per la mappa" /></a>
</div>
<br style="clear:both" />
                </div>
                </div>
                
	        </div>
        </div>
        <div id="fixedMenuWrapper">
        	    <div class="content">
                <div class="contentContainer">
	            <h1 class="contentTitle">Servizi</h1>
	            <div class="contentText">
	                <dl>
	                    <dd><a onclick="switchBackground('events')" href="#events" title="Tutto quello che cercavi per eventi esclusivi">Events</a></dd>
	                    <dd><a onclick="switchBackground('security')" href="#security" title="La sicurezza al primo posto!">Security</a></dd>
	                    <dd><a onclick="switchBackground('limousine')" href="#limousine" title="I nostri servizi di transfer">Limousine</a></dd>
	                    <dd><a onclick="switchBackground('life-style')" href="#life-style" title="Quando a tutto ci pensiamo noi!">Life-Style</a></dd>
	                </dl>
                </div>
                </div>
                
	        </div>
        </div>
{%include 'footer.html'%}
		
{% endblock %}