        <style>
        #footer img {
        	
        }
        </style>
        <div id="footer">
        <div id="aiss">
        <!-- <a target="_blank" href="http://www.aissitalia.it" title="Associazione Italiana Sicurezza Sussidiaria"><img src="/static/aiss_logo.png" alt="Associazione Italiana Sicurezza Sussidiaria" /></a> -->
        <a target="_blank" href="http://www.facebook.com/MainAgency" title="Facebook"><img src="/static/facebook.png" alt="Facebook" /></a>
        <a target="_blank" href="http://twitter.com/mainagency" title="Twitter"><img src="/static/twitter.png" alt="Twitter" /></a>
        <a target="_blank" href="http://www.linkedin.com/company/main-agency" title="LinkedIn"><img src="/static/linkedin.png" alt="LinkedIn" /></a>
        <a href="mailto:info@mainagency.it?subject=Messaggio%20dal%20sito" title="Email"><img src="/static/mail.png" alt="Email" /></a>
        </div>
        2011 &copy; Main Agency s.r.l. - P.I. 02003830995
        <p id="subFooter">Powered by <a href="http://www.gbconsulting.it" title="GB Consulting" target="_blank">GB Consulting</a> and developed by <a style="color: #ccc;text-decoration:none;" href="http://www.baruffaldi.info" title="Filippo Baruffaldi">Filippo Baruffaldi</a></p></div>