﻿{% extends 'shared.html' %}
{% block head %}
		<title>Main Agency SRL - Events, Security, Limousine, Life-Style</title> 
		<meta name="title"          content="Main Agency SRL - Events, Security, Limousine, Life-Style" /> 
		<meta name="description"    content="Main Agency is a security agency that operates in Liguria (Italy) for the most famous night-places, events and concerts." /> 
{% endblock %}

{% block body %}
        <img id="background" src="/static/bg.jpg" alt="-" />
        <img id="backgroundContent" src="/static/light.png" alt="-" />
        <div id="backgroundMotto" class="css3_textgrow">
            <!-- All you need to Shine --><img src="/static/allyouneedtoshine.png" alt="All you need to Shine" />
        </div>
        <div id="">
	       <div class="" id="home">
	           <div class="" style="z-index:79;position:relative;text-align:center;">
	           <img class="css3_grow" src="/static/logo.png" style="width:270px;" alt="-" /><br />
                <!--<a href="/it" title="Italiano"><img src="/static/italian.png" alt="Italiano" /></a>
                <a href="/en" title="English"><img src="/static/english.png" alt="English" /></a>-->
                <a href="/it" title="Italiano"><img src="/static/ita.png" style="width:50px;height:50px;" alt="Italiano" /></a>
                <a href="/en" title="English"><img src="/static/eng.png" style="width:50px;height:50px;" alt="English" /></a>
                <a href="/ru" title="Russian"><img src="/static/rus.png" style="width:50px;height:50px;" alt="Russian" /></a>
	           </div>
	       </div>
        </div>
        
{%include 'footer.html'%}
{% endblock %}