﻿{% extends 'shared.html' %}
{% block head %}
		<title>Main Agency SRL - Events, Security, Limousine, Life-Style</title> 
		<meta name="title"          content="Main Agency SRL - Events, Security, Limousine, Life-Style" /> 
		<meta name="description"    content="Main Agency is a security agency that operates in Liguria (Italy) for the most famous night-places, events and concerts." /> 
        <script type="text/javascript" src="/static/news.js"></script>
        <script type="text/javascript" src="/static/switch_background.js"></script>
{% endblock %}

{% block body %}
        <div id="bgs">
	        <img id="background" src="/static/bg.jpg" alt="-" />
	        <img style="display:none" id="backgroundevents" src="/static/events.jpg" alt="-" />
	        <img style="display:none" id="backgroundsecurity" src="/static/security.jpg" alt="-" />
	        <img style="display:none" id="backgroundlimousine" src="/static/limousine.jpg" alt="-" />
	        <img style="display:none" id="backgroundlife-style" src="/static/life-style.jpg" alt="-" />
        </div>
        <img style="display: none;" id="backgroundContent" src="/static/light.png" alt="-" />
        <div id="backgroundMotto" class="css3_pulsate">
            <!-- All you need to Shine --><img src="/static/allyouneedtoshine.png" alt="All you need to Shine" />
        </div>
        <div id="menu">
            <div id="menuWrapper">
                <dl>
                	<dd><a href="/" title="Cambia lingua"><img style="height: 50px;vertical-align:middle;" src="/static/logo.png" alt="Main Agency S.R.L." /></a></dd>
                    <dd><a onclick="switchBackground('home')" href="#home" title="Home">Home</a></dd>
                    <dd><a onclick="switchBackground('news')" href="#news" title="News">News</a></dd>
                    <dd><a onclick="switchBackground('companyOverview')" href="#companyOverview" title="Profilo Aziendale">Profilo Aziendale</a></dd>
                    <dd><a onclick="switchBackground('press')" href="#press" title="Rassegna Stampa">Rassegna Stampa</a></dd>
                    <!-- <dd><a onclick="switchBackground('gallery')" href="#gallery" title="I Nostri Partners">Multimedia</a></dd> -->
                    <dd><a onclick="switchBackground('partners')" href="#partners" title="I Nostri Partners">Partners</a></dd>
                    <dd><a onclick="switchBackground('whereWeAre')" href="#whereWeAre" title="Come Raggiungerci">Come Raggiungerci</a></dd>
	            </dl>
{%include 'player.html'%}
            </div>
        </div>
        <!-- TODO Suoni -->
        <!-- TODO Gallery -->
           <br id="home" />
           <div class="content">
               <div class="contentContainer" style="text-align:center;">
               <img class="css3_grow" src="/static/logo.png" alt="-" />
               </div>
           </div>
        <div id="contents" style="top: 3000px;position: absolute;">
            <div class="content" id="news">
                <div class="contentContainer">
                <h1 class="contentTitle">News</h1>
                <div class="contentText">
					<dl id="news_container">
					<dd id="news_courtesy_msg">...Caricamento News... Attendere prego.</dd>
					</dl>
                </div>
                </div>
            </div>
            <div class="content" id="companyOverview">
                <div class="contentContainer">
                <h1 class="contentTitle">Profilo Aziendale</h1>
                <div class="contentText">
Main Agency nasce dalla fusione di tre diverse agenzie già operanti da più di 10 anni nel settore dello show business e si è subito affermata sul territorio nazionale diventando, ad oggi, una delle realtà più innovative e competitive del settore e punto di riferimento per imprese ed aziente.<br /><br />
L' agenzia si avvale di partners nazionali ed internazionali e di uno staff plurilingue con certificazioni ed iscrizione agli albi professionali.<br /><br />
Tutto il nostro personale è selezionato in base a criteri di immagine, cortesia, predisposizione ai rapporti interpersonali e livello culturale.<br /><br />
Una sinergia forte tra le agenzie, il modus operandi meticoloso, una solida struttura organizzativa ed una rigorosa preparazione ed efficienza dei suoi collaboratori, così Main Agency è in grado di soddisfare ogni genere di esigenza;dalla pianificazione e gestione di ogni tipo di servizio logistico all' organizzazione di eventi pubblici per aziende, istituzioni e privati.<br /><br />
Main Agency è specializzata nei servizi ad alto valore qualitativo per imprese coinvolte nell' organizzazione, gestione e produzione di eventi pubblici quali congressi, concerti, sfilate, set cinematografici e manifestazioni di vario tipo.
                </div>
                </div>
            </div>
            <div class="content" id="events">
                <div class="contentContainer">
                <h1 class="contentTitle">Events</h1>
                <div class="contentText">
La pianificazione di un evento necessita una meticolosa analisi che implica l'interazione di diverse competenze, Main Agency per questo si avvale della sua esperienza e del suo know-how di alto livello acquisito nel tempo.<br /><br />
Dopo un primo studio delle esigenze del cliente ed un attenta analisi dei requisiti e della logistica dell'evento, Main Agency sviluppa una vera e propria strategia logistica, commerciale e di comunicazione, servendosi delle sue attitudini e del suo team. L'Obiettivo primario di Main Agency è la soddisfazione del cliente.<br /><br />
Main Agency cura molti aspetti quali la gestione del budget, del menù design, del catering, la pianificazione delle locations e dei trasporti coordinando le operazioni di move-in e move-out.<br /><br />
Le aree di intervento variano dai Gala Parties alle Prime Cinematografiche, Main Agency è impeccabile nell'organizzazione di eventi, commerciali, culturali, corporate, conventions, show business, serate a tema, matrimoni e qualsiasi altra tipologia di evento speciale.<br />
                </div>
                </div>
            </div>
            <div class="content" id="security">
                <div class="contentContainer">
                <h1 class="contentTitle">Security</h1>
                <div class="contentText">
Main Agency è costituita da professionisti della sicurezza di tutto rispetto ed esperti del settore.
Offriamo una vasta gamma di servizi di Sicurezza e Safety che coprono la pianificazione, la progettazione e realizzazione di strategie logistiche chiavi in mano per accompagnamenti, scorte ed eventi quali congressi, spettacoli, concerti, tours o qualsiasi altro genere di evento pubblico o privato.<br /><br />
Main Agency fornisce soluzioni di sicurezza di gestione del rischio per imprese, istituzioni e clienti privati. I nostri clienti sono aziende multinazionali, organizzazioni internazionali ed importanti società nel territorio nazionale.<br /><br />
I servizi di sicurezza includono una stretta protezione di VIP, la sicurezza personale dei dipendenti e l'analisi delle possibili minacce. Il nostro approccio è reattivo e personalizzato.<br /><br />
La tranquillità dei nostri clienti è per noi motivo di orgoglio.<br />
<br />
I nostri servizi di sicurezza sono suddivisi in
<ul>
	<li>Controllo degli accessi</li>
	<li>Security per eventi</li>
	<li>Sicurezza locali notturni</li>
	<li>Sicurezza aziendale</li>
	<li>Private Security</li>
	<li>Bodyguard</li>
	<li>Sicurezza marittima</li>
	<li>Sicurezza per Istituzioni</li>
	<li>Servizio di vigilanza</li>
</ul>
                </div>
                </div>
            </div>
            <div class="content" id="limousine">
                <div class="contentContainer">
                <h1 class="contentTitle">Limousine</h1>
                <div class="contentText">
La missione di Main Agency è di offrire ai clienti un prestigioso ed esclusivo servizio di limousine e noleggio con conducente per tutti i tipi di occasioni in tutto il mondo.<br /><br />
Grazie alle partnership con aziende limousine nazionali ed internazionali, leader a livello mondiale, aperte 365 giorni 24 ore su 24 e alla collaborazione di professionisti plurilingue con certificazioni ed iscrizione all'albo professionale, possiamo presentare un'offerta di servizi che soddisfi a pieno le esigenze del cliente.<br /><br />
La nostra flotta è composta da berline, monovolumi, SUV e furgoni, con un servizio di accoglienza in aeroporti, porti e stazioni ferroviarie. Per i vostri eventi siamo in grado di fornire un parco macchine tutte dello stesso modello e colore.<br /><br />
E' nostra cura fare particolare attenzione ai dettagli in termini di eleganza e privacy del servizio.<br />
                </div>
                </div>
            </div>
            <div class="content" id="life-style">
                <div class="contentContainer">
	            <h1 class="contentTitle">Life-Style</h1>
	            <div class="contentText">
Main Agency e' specializzata nel fornire un'esperienza di lusso a terra, in mare ed in cielo. Main Agency ha acquisito esperienza nel noleggio di yacht di lusso ed offre servizi di intermediazione per la nostra rete in tutto il mondo. Lasciate che Main Agency si occupi di tutto mentre vi godete il vostro viaggio di vacanza o lavoro.<br /><br />
Main Agency ha accesso ad una serie di veivoli di lusso high-end per fornire servizi sicuri ed efficienti in prima classe, orientati alle organizzazioni pubbliche, private e a qualsiasi realtà operante nel settore dello show business.<br /><br />
Con Main Agency avrete una vasta selezione di residenze esclusive in affitto per vacanze od eventi, in Europa e in tutto il mondo. Tutte le nostre locations sono state selezionate per la loro posizione, qualità ed eleganza. Offriamo solo le migliori locations.<br /><br />
Con Main Agency ed il suo trattamento VIP composto dal servizio personalizzato, le prestigiose locations, le imbarcazioni e gli aeromobili con equipaggio, le tue esperienze supereranno ampiamente le tue aspettative.
                </div>
                </div>
	        </div>
            <div class="content">
                <div class="contentContainer" id="gallery">
                <h1 class="contentTitle">Multimedia</h1>
                <div class="contentText">
                    <div id="dockContainer"><div><div><div id="dock"></div></div></div></div>
                </div>
                </div>
            </div>
            <div class="content" id="partners">
                <div class="contentContainer">
                <h1 class="contentTitle">I nostri Partners</h1>
                <div class="contentText">
                	<a href="http://www.shipandcrew.it/noleggia_il_tuo_Yacht.html?utm_campaign=mainagency&amp;utm_medium=mainagency&amp;utm_source=mainagency" title="S.C.S." target="_blank">
                		<img id="banner_scs" src="/static/banners/scs/image001.jpg" alt="S.C.S." />
                	</a>
                	<script type="text/javascript">
                		var b_scs_c = 0;
                		setInterval(function(){
                			if (b_scs_c == 4)
                				b_scs_c = 0;
                			b_scs_c++;
                			$('#banner_scs')[0].src = '/static/banners/scs/image00'+b_scs_c+'.jpg';
                		}, 2000);
                	</script>
                </div>
                </div>
            </div>
            <div class="content" id="press">
                <div class="contentContainer">
                <h1 class="contentTitle">Rassegna Stampa</h1>
                <div class="contentText">
<div class="press-post">
<h3>Un vero bodyguard non dorme mai</h3>
<p>09 luglio 2011 | Fabrizio Basso - (IlSecoloXIX) - Genova - I locali li chiamano per vigilare sulla tranquillità degli ospiti. E loro rispondono, sorvegliando che tutto fili liscio durante le serate e che non ci siano eccessi, neppure compiuti da chi cerca un momento “a due” sulla spiaggia. Ce lo racconta Antonio Boccuni, 42 anni, di Taranto ma genovese di adozione, bodyguard di professione. La sua agenzia si chiama Main Agency e ha sede in via Odessa a Genova. Al suo fianco il fratello Francesco, il socio Luca Parodi e una squadra di circa 70 persone che accresce l’organico anche con i contratti a progetto. L’estate è per loro una stagione particolare, con le decine di richieste da parte dei locali che si arricchiscono di serate sulla spiaggia. Poi ci sono, è vero, clienti da guardare con occhi speciali: «Quando capitano al Covo di Nord Est a Santa Margherita Marina Berlusconi o Stefano Gabbana noi siamo lì. Discreti ma attenti. Siamo educati e professionali». Con tutti, anche con le coppiette appartate che non sempre reagiscono bene quando si trovano costrette a interrompere il loro idillio. E che magari si lasciano un po’ andare, complici il caldo e la sensazione, tipicamente estiva, di sentirsi più liberi.</p>
<br />
<p>fonte: IlSecoloXIX - <a href="http://www.ilsecoloxix.it/p/genova/2011/07/09/AOXn1Yj-dorme_vero_bodyguard.shtml" title="link articolo completo">link articolo completo</a></p>
</div>
<div class="press-post">
<h3>Cinema: grande festa a Roma per il nuovo film di Muccino 'Un altro mondo'</h3>
<p>Roma, 18 dic.(2010) - (Adnkronos) - Serata all'insegna del divertimento, dello spettacolo, della grande musica e di tante performances a sorpresa che saranno svelate nel corso dell'esclusivo party organizzato per la presentazione del nuovo film di Silvio Muccino: "Un altro mondo" prodotto da Universal Pictures International e Cattleya. Dopodomani alle 23 all'Art Caffe', storico locale romano, si terra' un party unico con live show: "Le mani" Dj-set: Andro (Andrea Mariano from Negramaro) Federico Russo (from Radio Deejay) Max Brigante (from Radio 105) Fabri e Dario (2gether), ideato da Antonio Boccuni della Main Agency e organizzato da Irene Capuano dell'agenzia Ira. Sara' anche una serata dedicata alla riflessione e alla solidarieta' durante la quale Silvio Muccino e Carla Vangelista, con la partecipazione di Gianfranco Morino, presenteranno agli invitati l'iniziativa benefica "Progetto Neema" di cui Silvio e Carla sono testimonial. Tra le attrici presenti ci saranno Euridice Axen, Daniela Virgilio e molti altri.</p>
<br />
<p>fonte: Adnkronos - <a href="http://www.adnkronos.com/IGN/News/Spettacolo/Cinema-grande-festa-a-Roma-per-il-nuovo-film-di-Muccino-Un-altro-mondo_311423065614.html" title="link articolo completo">link articolo completo</a></p>
</div>
<script type="text/javascript">
/*$(".press-post p").hide();
$(".press-post h3").each(function(i,el){
	$(".press-post h3")[i].click(function(el){
		$(".press-post h3")[i].next().toggle();
		$(".press-post h3")[i].next().next().toggle();
	});
});*/
</script>
                </div>
                </div>
            </div>
	        <div class="content" id="whereWeAre">
                <div class="contentContainer">
	            <h1 class="contentTitle">Come Raggiungerci</h1>
	            <div class="contentText">
<div class="left">
<h2>Main Agency SRL</h2>
P.I. 02003830995<br />
<br />
<h3>Ufficio</h3>
Via Odessa 10<br />
16129 Genoa (Italy)<br />
<br />
Tel +39 010 859 2787<br />
Fax +39 010 860 2638<br />
<br />
info @ mainagency.it<br />
www . mainagency . it<br />
<br />
<h3>Amministrazione</h3>
<b>Francesco Boccuni</b><br />
Mobile +39 349 709 6068<br />
francesco . boccuni @ mainagency . it<br />
<br />
<b>Antonio Boccuni</b><br />
Mobile +39 347 265 1880<br />
antonio . boccuni @ mainagency . it<br />
<br />
<b>Luca Parodi</b><br />
Mobile +39 335 622 9101<br />
luca . parodi @ mainagency . it
</div>
<div style="text-align: right;">
<a href="http://goo.gl/maps/ctTa" title="Clicca qui per la mappa!"><img style="border: 5px solid #fff;" src="/static/map.png" alt="Clicca qui per la mappa" /></a>
</div>
<br style="clear:both" />
                </div>
                </div>
                
	        </div>
        </div>
        <div id="fixedMenuWrapper">
        	    <div class="content">
                <div class="contentContainer">
	            <h1 class="contentTitle">Servizi</h1>
	            <div class="contentText">
	                <dl>
			            <dd><a onclick="switchBackground('events')" href="#events" title="Tutto quello che cercavi per eventi esclusivi">Eventi</a></dd>
			            <dd><a onclick="switchBackground('security')" href="#security" title="La sicurezza al primo posto!">Sicurezza</a></dd>
			            <dd><a onclick="switchBackground('limousine')" href="#limousine" title="I nostri servizi di transfer">Limousine</a></dd>
			            <dd><a onclick="switchBackground('life-style')" href="#life-style" title="Quando a tutto ci pensiamo noi!">Life-Style</a></dd>
	                </dl>
                </div>
                </div>
                
	        </div>
        </div>
        
{%include 'footer.html'%}
		
{% endblock %}