	            <div id="sound_manager">
	            Turn <span id="state">Off</span> the Sounds <a href="javascript:switchSound(sounds, true);" title="Sound Manager"><img id="sound_img" src="/static/sound.png" alt="Turn Off the Music" /></a>
	            </div>