﻿{% extends 'shared.html' %}
{% block head %}
        <title>Main Agency SRL - Events, Security, Limousine, Life-Style</title> 
        <meta name="title"          content="Main Agency SRL - Events, Security, Limousine, Life-Style" /> 
        <meta name="description"    content="Main Agency is a security agency that operates in Liguria (Italy) for the most famous night-places, events and concerts." /> 
        <script type="text/javascript" src="/static/news.js"></script>
        <script type="text/javascript" src="/static/switch_background.js"></script>
{% endblock %}

{% block body %}
        <div id="bgs">
	        <img id="background" src="/static/bg.jpg" alt="-" />
	        <img style="display:none" id="backgroundevents" src="/static/events.jpg" alt="-" />
	        <img style="display:none" id="backgroundsecurity" src="/static/security.jpg" alt="-" />
	        <img style="display:none" id="backgroundlimousine" src="/static/limousine.jpg" alt="-" />
	        <img style="display:none" id="backgroundlife-style" src="/static/life-style.jpg" alt="-" />
        </div>
        <img style="display: none;" id="backgroundContent" src="/static/light.png" alt="-" />
        <div id="backgroundMotto" class="css3_pulsate">
            <!-- All you need to Shine --><img src="/static/allyouneedtoshine.png" alt="All you need to Shine" />
        </div>
        <div id="menu">
            <div id="menuWrapper">
                <dl>
                	<dd><a href="/" title="Change Language"><img style="height: 50px;vertical-align:middle;" src="/static/logo.png" alt="Main Agency S.R.L." /></a></dd>
                    <dd><a onclick="switchBackground('home')" href="#home" title="Home">Home</a></dd>
                    <dd><a onclick="switchBackground('news')" href="#news" title="News">News</a></dd>
                    <dd><a onclick="switchBackground('companyOverview')" href="#companyOverview" title="Company Overview">Company Overview</a></dd>
                    <dd><a onclick="switchBackground('press')" href="#press" title="Rassegna Stampa">Press</a></dd>
                    <!-- <dd><a onclick="switchBackground('gallery')" href="#gallery" title="Our Partners">Multimedia</a></dd> -->
                    <dd><a onclick="switchBackground('partners')" href="#partners" title="Our Partners">Partners</a></dd>
                    <dd><a onclick="switchBackground('whereWeAre')" href="#whereWeAre" title="Where We Are">Where We Are</a></dd>
                </dl>
{%include 'player.html'%}
            </div>
        </div>
        <!-- TODO Suoni -->
        <!-- TODO Gallery -->
           <br id="home" />
           <div class="content">
               <div class="contentContainer" style="text-align:center;">
               <img class="css3_grow" src="/static/logo.png" alt="-" />
               </div>
           </div>
        <div id="contents" style="top: 3000px;position: absolute;">
            <div class="content" id="news">
                <div class="contentContainer">
                <h1 class="contentTitle">News</h1>
                <div class="contentText">
					<dl id="news_container">
					<dd id="news_courtesy_msg">...Loading News... Please Wait.</dd>
					</dl>
                </div>
                </div>
            </div>
            <div class="content" id="companyOverview">
                <div class="contentContainer">
                <h1 class="contentTitle">Company Overview</h1>
                <div class="contentText">
Main Agency имеет своё начало после объединения трех отдельных агентств уже оперирующих в секторе шоу бизнеса более 10и лет, и сразу же становится одной из самых новаторских и  конкурентоспособных на территории страны в этом секторе и эталоном для предприятий и компаний, сохраняя этот статус и по сей день.<br /><br />
Агентство имеет национальных и интернациональных партнёров и многоязычный сертифицированный персонал зарегистрированный в профессиональные реестры.<br /><br />
Все наши сотрудники отобраны по критериям имиджа, вежливости, способностей в межличностных отношениях и культурного уровня.<br /><br />
Крепкие взаимодействия между агентствами, тщательный метод работы, надежная организационная структура, строгая подготовка и производительность их сотрудников, делают возможным для Main Agency удовлетворение каких угодно требования; начиная с планирования и управления любого организационного сервиса до организации общественных мероприятий для компаний, учреждений и частных лиц.<br /><br />
Main Agency специализирована в услугах высшего класса для предприятий связанных с организацией, управлением и осуществлением общественных мероприятий, таких как конгрессы, концерты, показы мод, съемочные площадки и многие другие события.
                </div>
                </div>
            </div>
            <div class="content" id="events">
                <div class="contentContainer">
                <h1 class="contentTitle">МЕРОПРИЯТИЯ</h1>
                <div class="contentText">
Планирование мероприятия нуждается в тщательном анализе подразумевающий взаимодействие разных способностей, Main Agency использует для этого свой опыт и ноу-хау высшего уровня приобретённые за все это время.<br /><br />
После первоначального исследования требований клиента и тщательного анализа условий и организации мероприятия, М.А. разрабатывает совершенную организационную, коммерческую и коммуникационную стратегию, пользуясь своими способностями и коллективом. Основная цель М.А. это удовлетворенность клиента.<br /><br />
М.А. заботится о многих аспектах таких как заведование бюджетом, дизайн меню, обслуживание, планирование расположения и транспортировки, координируя операции въезда и выезда.<br /><br />
Сферы участия разнообразны: от торжественных вечеринок / ужинов до кино-премьер, М.А. безупречна в организации рекламных, культурных, общественных мероприятий, конвенций, событий шоу бизнеса, тематических вечеринок, свадеб и любых других особенных событий.
                </div>
                </div>
            </div>
            <div class="content" id="security">
                <div class="contentContainer">
                <h1 class="contentTitle">ОХРАНА</h1>
                <div class="contentText">
Main Agency составлена из профессионалов по безопасности и экспертов в этом деле.<br /><br />
Мы предлагаем обширный ассортимент услуг по охране и безопасности которые включают планирование, проектирование и реализацию под ключ организационных стратегий для сопровождений, конвоев  и таких мероприятий как конгрессы, спектакли, концерты, гастроли, шоу, и любых других общественных или частных событий.<br /><br />
М.А. предлагает решения по безопасности и управлению рисковых ситуаций для предприятий, учреждений и частных лиц. В круг наших клиентов входят интернациональные компании, организации и важные предприятия на территории страны.<br /><br />
В услуги по безопасности входят тщательная охрана  V.I.P., частная безопасность служащих и анализ возможных угроз. Наш подход реактивный и персонализированный.<br /><br />
Спокойствие наших клиентов это наша гордость.<br /><br />
Our security services include:
<dl>
	<dd>Access supervision</dd>
	<dd>Security services for events</dd>
	<dd>Clubs security</dd>
	<dd>Corporate security</dd>
	<dd>Private security</dd>
	<dd>Bodyguard</dd>
	<dd>Marine security</dd>
	<dd>Institution security</dd>
	<dd>Vigilance service</dd>
</dl>
                </div>
                </div>
            </div>
            <div class="content" id="limousine">
                <div class="contentContainer">
                <h1 class="contentTitle">ЛИМУЗИН СЕРВИС</h1>
                <div class="contentText">
Миссия М.А. это дать клиентам возможность пользоваться престижным и эксклюзивным лимузин сервисом и нанимать водителя для любого случая по всему миру.<br /><br />
Благодаря партнёрству с национальными и интернациональными лимузин агентствами, лидерами на мировом уровне, открытыми в течении всего года 24 часа в сутки и сотрудничеству многоязычных сертифицированных профессионалов зарегистрированных в профессиональных реестрах, мы можем предложить услуги которые бы вполне удовлетворили требования клиента.<br /><br />
Наш парк состоит из седанов, микроавтобусов, внедорожников и фургонов, с услугами встречи в аэропортах, морских портах и на железнодорожных вокзалах. Для ваших мероприятий мы даже предоставляем парк все одного цвета и одной и той же модели.<br /><br />
Это наша задача тщательно позаботиться обо всех деталях элегантности и уединения.
                </div>
                </div>
            </div>
            <div class="content" id="life-style">
                <div class="contentContainer">
                <h1 class="contentTitle">ОБРАЗ ЖИЗНИ</h1>
                <div class="contentText">
Main Agency специализирована в обеспечивании роскошных впечатлительных моментов на земле, в море и в воздухе. М.А. накопила опыт в прокате люкс яхт и в снабжении посреднических услуг по нашей сете в мировом масштабе. Доверьтесь М.А. и наслаждайтесь вашим путешествием, в то время как мы обо всем позаботимся. М.А. имеет доступ ко многим высококачественным люкс самолётам, предлагая надёжный и эффективный сервис первого класса, с ориентиром на общественные, частные организации и клиентов из шоу бизнеса.<br /><br />
М.А. предоставит вам в аренду широкий выбор эксклюзивных резиденций для отдыха или мероприятий, в Европе и по всему миру. Все наши резиденции прошли отбор по основанию их местонахождения, качества и элегантности. Мы предлагаем только лучшее.<br /><br />
С М.А. и её эксклюзивными услугами (персонализированный сервис, престижные расположения, яхты и самолёты с экипажем) ваши впечатления вполне превзойдут ваши ожидания.
                </div>
                </div>
            </div>
<!--             <div class="content">
                <div class="contentContainer" id="gallery">
                <h1 class="contentTitle">Multimedia</h1>
                <div class="contentText">
                    <div id="dockContainer"><div><div><div id="dock"></div></div></div></div>
                </div>
                </div>
            </div> -->
            <div class="content" id="partners">
                <div class="contentContainer">
                <h1 class="contentTitle">Our Partners</h1>
                <div class="contentText">
                	<a href="http://www.shipandcrew.it/noleggia_il_tuo_Yacht.html?utm_campaign=mainagency&amp;utm_medium=mainagency&amp;utm_source=mainagency" title="S.C.S." target="_blank">
                		<img id="banner_scs" src="/static/banners/scs/image001.jpg" alt="S.C.S." />
                	</a>
                	<script type="text/javascript">
                		var b_scs_c = 0;
                		setInterval(function(){
                			if (b_scs_c == 4)
                				b_scs_c = 0;
                			b_scs_c++;
                			$('#banner_scs')[0].src = '/static/banners/scs/image00'+b_scs_c+'.jpg';
                		}, 2000);
                	</script>
                </div>
                </div>
            </div>
            <div class="content" id="press">
                <div class="contentContainer">
                <h1 class="contentTitle">Press Room</h1>
                <div class="contentText">
<div class="press-post">
<h3>Un vero bodyguard non dorme mai</h3>
<p>09 luglio 2011 | Fabrizio Basso - (IlSecoloXIX) - Genova - I locali li chiamano per vigilare sulla tranquillità degli ospiti. E loro rispondono, sorvegliando che tutto fili liscio durante le serate e che non ci siano eccessi, neppure compiuti da chi cerca un momento “a due” sulla spiaggia. Ce lo racconta Antonio Boccuni, 42 anni, di Taranto ma genovese di adozione, bodyguard di professione. La sua agenzia si chiama Main Agency e ha sede in via Odessa a Genova. Al suo fianco il fratello Francesco, il socio Luca Parodi e una squadra di circa 70 persone che accresce l’organico anche con i contratti a progetto. L’estate è per loro una stagione particolare, con le decine di richieste da parte dei locali che si arricchiscono di serate sulla spiaggia. Poi ci sono, è vero, clienti da guardare con occhi speciali: «Quando capitano al Covo di Nord Est a Santa Margherita Marina Berlusconi o Stefano Gabbana noi siamo lì. Discreti ma attenti. Siamo educati e professionali». Con tutti, anche con le coppiette appartate che non sempre reagiscono bene quando si trovano costrette a interrompere il loro idillio. E che magari si lasciano un po’ andare, complici il caldo e la sensazione, tipicamente estiva, di sentirsi più liberi.</p>
<br />
<p>fonte: IlSecoloXIX - <a href="http://www.ilsecoloxix.it/p/genova/2011/07/09/AOXn1Yj-dorme_vero_bodyguard.shtml" title="link articolo completo">link articolo completo</a></p>
</div>
<div class="press-post">
<h3>Cinema: grande festa a Roma per il nuovo film di Muccino 'Un altro mondo'</h3>
<p>Roma, 18 dic.(2010) - (Adnkronos) - Serata all'insegna del divertimento, dello spettacolo, della grande musica e di tante performances a sorpresa che saranno svelate nel corso dell'esclusivo party organizzato per la presentazione del nuovo film di Silvio Muccino: "Un altro mondo" prodotto da Universal Pictures International e Cattleya. Dopodomani alle 23 all'Art Caffe', storico locale romano, si terra' un party unico con live show: "Le mani" Dj-set: Andro (Andrea Mariano from Negramaro) Federico Russo (from Radio Deejay) Max Brigante (from Radio 105) Fabri e Dario (2gether), ideato da Antonio Boccuni della Main Agency e organizzato da Irene Capuano dell'agenzia Ira. Sara' anche una serata dedicata alla riflessione e alla solidarieta' durante la quale Silvio Muccino e Carla Vangelista, con la partecipazione di Gianfranco Morino, presenteranno agli invitati l'iniziativa benefica "Progetto Neema" di cui Silvio e Carla sono testimonial. Tra le attrici presenti ci saranno Euridice Axen, Daniela Virgilio e molti altri.</p>
<br />
<p>fonte: Adnkronos - <a href="http://www.adnkronos.com/IGN/News/Spettacolo/Cinema-grande-festa-a-Roma-per-il-nuovo-film-di-Muccino-Un-altro-mondo_311423065614.html" title="link articolo completo">link articolo completo</a></p>
</div>
<script type="text/javascript">
/*$(".press-post p").hide();
$(".press-post h3").each(function(i,el){
	$(".press-post h3")[i].click(function(el){
		$(".press-post h3")[i].next().toggle();
		$(".press-post h3")[i].next().next().toggle();
	});
});*/
</script>
                </div>
                </div>
            </div>
            <div class="content" id="whereWeAre">
                <div class="contentContainer">
                <h1 class="contentTitle">Where We Are</h1>
                <div class="contentText">
<div class="left">
<h2>Main Agency SRL</h2>
P.I. 02003830995<br />
<br />
<h3>Office</h3>
Via Odessa 10<br />
16129 Genoa (Italy)<br />
<br />
Tel +39 010 859 2787<br />
Fax +39 010 860 2638<br />
<br />
info @ mainagency.it<br />
www . mainagency . it<br />
<br />
<h3>Chief Executive Officers</h3>
<b>Francesco Boccuni</b><br />
Mobile +39 349 709 6068<br />
francesco . boccuni @ mainagency . it<br />
<br />
<b>Antonio Boccuni</b><br />
Mobile +39 347 265 1880<br />
antonio . boccuni @ mainagency . it<br />
<br />
<b>Luca Parodi</b><br />
Mobile +39 335 622 9101<br />
luca . parodi @ mainagency . it
</div>
<div style="text-align: right;">
<a href="http://goo.gl/maps/ctTa" title="Clicca qui per la mappa!"><img style="border: 5px solid #fff;" src="/static/map.png" alt="Clicca qui per la mappa" /></a>
</div>
<br style="clear:both" />
                </div>
                </div>
                
	        </div>
        </div>
        <div id="fixedMenuWrapper">
        	    <div class="content">
                <div class="contentContainer">
	            <h1 class="contentTitle">Servizi</h1>
	            <div class="contentText">
	                <dl>
	                    <dd><a onclick="switchBackground('events')" href="#events" title="Tutto quello che cercavi per eventi esclusivi">МЕРОПРИЯТИЯ</a></dd>
	                    <dd><a onclick="switchBackground('security')" href="#security" title="La sicurezza al primo posto!">OXPAHA</a></dd>
	                    <dd><a onclick="switchBackground('limousine')" href="#limousine" title="I nostri servizi di transfer">ЛИМУЗИН СЕРВИС</a></dd>
	                    <dd><a onclick="switchBackground('life-style')" href="#life-style" title="Quando a tutto ci pensiamo noi!">ОБРАЗ ЖИЗНИ</a></dd>
	                </dl>
                </div>
                </div>
                
	        </div>
        </div>
{%include 'footer.html'%}
		
{% endblock %}