﻿<?xml version='1.0' encoding='utf-8' ?>
{%spaceless%}<!DOCTYPE html
	 PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN'
	 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'> 

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
		<meta name="keywords"       content="main agency,security agency,agenzia di sicurezza,sicurezza,main,agency,agenzia,agenzia sicurezza,antonio boccuni,francesco boccuni,boccuni,baruffaldi,filippo baruffaldi,genova,noleggio,eventi,limousine,life-style,lifestyle,security,events" /> 
		<meta name="robots"         content="index,follow" /> 
		<meta name="date"           content="27May2010" /> 
		<meta name="revisit-after"  content="30 Days" /> 
		<meta name="last-update"    content="2010-05-27 09:51:54.755617" /> 
		<meta name="subject"        content="Main Agency - Official Site" />
		<meta name="author"         content="Filippo Baruffaldi" /> 
		<meta name="publisher"      content="Filippo Baruffaldi" /> 
		<meta name="reply-to"       content="info@mainagency.it" /> 
		<meta name="google-site-verification" content="rrjuJglr0MPJXMAzUsC_k7GS8DGel0wg9NIgyGC60q4" />
		<link rev="made"            href="mailto:filippo@baruffaldi.info" /> 
		<link rel="shortcut icon"   href="/static/logo.png" type="image/png" />
        <link rel="stylesheet"   href="/static/style.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Jura&v1' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">google.load('jquery', '1');google.load('jqueryui', '1');</script>
        <script type="text/javascript" src="/static/jquery.cookie.js"></script>
        <script type="text/javascript" src="/static/soundmanager.js"></script>
        <!-- <script type="text/javascript" src="/static/scroll.js"></script> -->
		<script type="text/javascript">
        	{% include 'jquery.cookie.js'%}
        </script>
        <script type="text/javascript">
			var sounds = true;
			if ($.cookie("sounds") == null)
				$.cookie("sounds", true)
			else sounds = $.cookie("sounds");

			function switchSound(state, sw) {
				if (sw && state)
					state = false;
				else if (sw && !state )
					state = true;
				sounds = state;
				if (!sounds) {
					SM.stop('bg');
					$("#sound_image").src = "/static/nosound.png";
					$("#sound_image").alt = "Turn Off the Sounds";
					$("#state").text("On");
					$("#sound_img").css('opacity', 0.7);
				} else {
					SM.play('bg', 99);
					$("#sound_image").src = "/static/sound.png";
					$("#sound_image").alt = "Turn On the Sounds";
					$("#state").text("Off");
					$("#sound_img").css('opacity', 1);
				}
				$.cookie("sounds", sounds);
			}
		</script>
        <script type="text/javascript">
		var MainAgency = {};
		MainAgency.Contents = [];
		MainAgency.Contents.push({
		    id: 'home',
		    background: '/static/bg.jpg',
		    backgroundContent: '/static/logo.png',
		    backgroundMotto: 'All you need to Shine'
		});
		MainAgency.Contents.push({
		    id: 'companyOverview',
		    background: '/static/bg.jpg',
		    backgroundContent: '/static/logo.png',
		    backgroundMotto: 'All you need to Shine'
		});
		MainAgency.Contents.push({
		    id: 'events',
		    background: '/static/events.jpg',
		    backgroundContent: '/static/light.png',
		    backgroundMotto: 'All you need to Shine'
		});
		MainAgency.Contents.push({
		    id: 'security',
		    background: '/static/security.jpg',
		    backgroundContent: '/static/light.png',
		    backgroundMotto: 'All you need to Shine'
		});
		MainAgency.Contents.push({
		    id: 'limousine',
		    background: '/static/limousine.jpg',
		    backgroundContent: '/static/light.png',
		    backgroundMotto: 'All you need to Shine'
		});
		MainAgency.Contents.push({
		    id: 'life-style',
		    background: '/static/life-style.jpg',
		    backgroundContent: '/static/light.png',
		    backgroundMotto: 'All you need to Shine'
		});
		MainAgency.Contents.push({
		    id: 'partners',
		    background: '/static/bg.jpg',
		    backgroundContent: '/static/logo.png',
		    backgroundMotto: 'All you need to Shine'
		});
		MainAgency.Contents.push({
		    id: 'whereWeAre',
		    background: '/static/bg.jpg',
		    backgroundContent: '/static/logo.png',
		    backgroundMotto: 'All you need to Shine'
		});
		MainAgency.Contents.push({
		    id: 'press',
		    background: '/static/bg.jpg',
		    backgroundContent: '/static/logo.png',
		    backgroundMotto: 'All you need to Shine'
		});
        </script>
        
{% block head %}{% endblock %}
    <body>
{% block body %}{% endblock %}
 		<script type="text/javascript">
		var SM = new SoundManager();
		$("a").mouseover(function(){
			if (sounds) SM.play('select', 1);
		});
		$("a").click(function(){
			if (sounds) SM.play('page', 1);
		});
		$(document).ready(function(){
			if (window.location.pathname != '/'){
				if (sounds == 'true' || sounds == true) setTimeout("switchSound(true, false)", 3000);
				else setTimeout("switchSound(false, false)", 3000);
			}
		});
		if (typeof switchBackground != 'undefined') switchBackground();
		</script>
		<script type="text/javascript"> 
{%endspaceless%}
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
{%spaceless%}
		</script>
		<script type="text/javascript"> 
{%endspaceless%}
			try {

				var pageTracker = _gat._getTracker("UA-3313712-9");

				pageTracker._trackPageview();

			} catch(err) {}
{%spaceless%}
		</script>
    </body>
</html>{%endspaceless%}