@font-face {
    font-family: 'OldScript';
    src: url('/static/fonts/old-script.eot');
    src: url('/static/fonts/old-script.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/old-script.woff') format('woff'),
         url('/static/fonts/old-script.ttf') format('truetype'),
         url('/static/fonts/old-script.svg#OldScriptRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OratorStdMedium';
    src: url('/static/fonts/orator.eot');
    src: url('/static/fonts/orator.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/orator.woff') format('woff'),
         url('/static/fonts/orator.ttf') format('truetype'),
         url('/static/fonts/orator.svg#OratorStdMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OratorStdSlanted';
    src: url('/static/fonts/orator-slanted.eot');
    src: url('/static/fonts/orator-slanted.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/orator-slanted.woff') format('woff'),
         url('/static/fonts/orator-slanted.ttf') format('truetype'),
         url('/static/fonts/orator-slanted.svg#OratorStdSlanted') format('svg');
    font-weight: normal;
    font-style: normal;

}

#body_main_element .container-fluid {
    padding-top: 60px;
}
#body_main_element #home {
    padding-top: 80px;
}
.justifiedparagraph {
    text-align: justify;
}
.img-circle{margin-right:10px;margin-left:10px;}

body{
   background-image: url('/static/img/bg.jpg');
   color: #777;
   overflow: hidden;
}

#footer {
  color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(bottom, rgb(255, 255, 255), transparent);
    background-image: -o-linear-gradient(bottom, rgb(255, 255, 255), transparent);
    background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255), transparent);
    background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255), transparent);
    font-family: 'OratorStdMedium';
}
.nav {
font-family: OratorSTD;
}
#main-navbar {
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto;
    box-shadow: rgb(68, 68, 68) 1px 1px 30px 0px, rgb(68, 68, 68) 1px 1px 30px 0px, rgb(68, 68, 68) 2px 2px 30px 0px;
    -moz-background-clip: border-box;
    -moz-background-origin: padding-box;
    -moz-background-size: auto;
    -moz-box-shadow: rgb(68, 68, 68) 1px 1px 30px 0px, rgb(68, 68, 68) 1px 1px 30px 0px, rgb(68, 68, 68) 2px 2px 30px 0px;
    -o-background-clip: border-box;
    -o-background-origin: padding-box;
    -o-background-size: auto;
    -o-box-shadow: rgb(68, 68, 68) 1px 1px 30px 0px, rgb(68, 68, 68) 1px 1px 30px 0px, rgb(68, 68, 68) 2px 2px 30px 0px;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-box-shadow: rgb(68, 68, 68) 1px 1px 30px 0px, rgb(68, 68, 68) 1px 1px 30px 0px, rgb(68, 68, 68) 2px 2px 30px 0px;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(top, rgb(68, 68, 68), rgb(0, 0, 0));
    background-image: -o-linear-gradient(top, rgb(68, 68, 68), rgb(0, 0, 0));
    background-image: -moz-linear-gradient(top, rgb(68, 68, 68), rgb(0, 0, 0));
    background-image: -webkit-linear-gradient(top, rgb(68, 68, 68), rgb(0, 0, 0));
    background-origin: padding-box;
    background-size: auto;
    box-shadow: rgb(68, 68, 68) 1px 1px 30px 0px, rgb(68, 68, 68) 1px 1px 30px 0px, rgb(68, 68, 68) 2px 2px 30px 0px;

}

#home {
padding-top:10px; background-image:url('/static/img/light.png');background-repeat:no-repeat;background-size: 100% 100%;
}

#contacts {
    padding-bottom: 70px;
}
ul.nav-pills li.active a {
    color:#000;
}

h1,h2, .featurette-heading .muted {
    font-family: 'OldScript';
}

h3,h4, .featurette-heading {
    font-family: 'OratorStdMedium';
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
   padding-top: 30px; /*Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -30px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {
  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {
  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }
  #footer {
    position: static;
  }
}

@media (max-width: 767px) {
  .navbar .container-fluid {
    margin-right: 20px;
    padding-left: 20px;
  }

body {
    margin: 0;
    padding: 0;
}

#footer {
    padding: 20px 20px 7px 20px;
}
}
@media (max-width: 1280px) {
  .navbar {
    position: fixed;
    top: 0;
  }
}
@media (max-width: 480px) {
  .navbar {
    position: static;
  }
}