{% spaceless %}{% autoescape off %}<!DOCTYPE html>
<!--[if IE 7 ]>      <html class="no-js ie ie7 lte7 lte8 lte9" lang="it-IT"> <![endif]-->
<!--[if IE 8 ]>      <html class="no-js ie ie8 lte8 lte9" lang="it-IT"> <![endif]-->
<!--[if IE 9 ]>      <html class="no-js ie ie9 lte9>" lang="it-IT"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="it-IT"> <!--<![endif]-->
    <head>

<script type="text/javascript">/*<![CDATA[*/{% compress_jsmin %}
if (typeof String.prototype.startsWith != 'function') {
  // see below for better implementation!
  String.prototype.startsWith = function (str){
    return this.indexOf(str) == 0;
  };
}
var len = len || function(v){return (typeof v.length != 'undefined')?v.length:null}
var bool = bool || function(v){return (typeof v.length != 'undefined')?((v == 'false' || !v.length)?false:true):((v == 'true')?true:false)}
{% endcompress_jsmin %}/*]]>*/</script>

{% block 'glob_head' %}{% include 'default/glob_head.html' %}{% endblock %}

{% block 'mobile' %}{% include 'default/mobile.html' %}{% endblock %}

{% block 'meta' %}{% include 'default/meta.html' %}{% endblock %}

{% block 'javascript' %}{% include 'default/javascript.html' %}{% endblock %}

{% block 'beforestyles' %}{% endblock %}

{% block 'styles' %}{% include 'default/styles.html' %}{% endblock %}

    </head>
    <body data-spy="scroll" data-target=".navbar" id="top">

{% block 'navbar' %}{% endblock %}

        <!-- Main -->
            <main role="main"><div id="body_main_element">

{% block 'content' %}{% endblock %}

			</div></main>

{% block 'footer' %}{% include 'default/footer.html' %}{% endblock %}

{% block 'last_javascript' %}{% include 'default/footer_javascript.html' %}{% endblock %}

{% block 'beforemainend' %}{% endblock %}
    </body>
</html>{% endautoescape %}{% endspaceless %}