﻿{% extends '_template.html' %}

{% block 'navbar' %}{% include 'default/en/navbar.html' %}{% endblock %}

{% block 'content' %}
            <!-- Generic Page -->
                <div id="home" class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                            <article class="post">
                                <div class="post pagination-centered">
                                    <!-- Main Agency s.r.l. --><img src="/static/img/logo.png" alt="Main Agency s.r.l." /><br />
                                    <!-- All you need to Shine --><img src="/static/img/allyouneedtoshine.png" alt="All you need to Shine" />
                                </div>
                            </article><!--/.post -->
                        </div>
                    </div><!--/.row-fluid -->
                </div><!--/.container-fluid -->

            <!-- News -->
                <div id="our_news" class="container-fluid justifiedparagraph">
                    <h1>News</h1>
                    <hr class="clear hr-inverted-margins" />
                    <div id="news" class="row-fluid twitter_auto_load twitter_limit_20 twitter_user_mainagency">
                    </div>
                    <a class="pull-right btn btn-warning" href="http://twitter.com/mainagency" title="Leggi tutte le news">Leggi tutte le news &raquo;</a>
                </div><!--/.container-fluid -->

            <!-- Company -->
                <div id="company" class="container-fluid">
                    <div class="row-fluid">
                        <article class="post">
                            <header class="page-header">
                                <!--<ul class="breadcrumb">
                                  <li><a href="/">Home</a> <span class="divider">/</span></li>
                                  <!--{% if contents.category.name %}<li><a href="/{{contents.category.permalink}}/" title="{{contents.category.name}}">{{contents.category.name}}</a> <span class="divider">/</span></li>{% endif %}-->
                                  <!--<li class="active">Profilo Aziendale</li>
                                </ul>-->
                                <h1>Company Overview</h1>
                            </header>
                            <div class="post justifiedparagraph">
                                <p>Main Agency takes its start from the fusion of three different agencies already operating since more than 10 years in the show business sector and it claimed itself right away within the national territory, turning, to this day, into one of the most competitive in this field and into a benchmark for companies and enterprises.</p>
                                <p>This agency benefits of national and international partners and of a multilingual team with certifications and register inscriptions.</p>
                                <p>Our whole staff is selected following standards as image, courtesy, aptitude for interpersonal interactions and culture level.</p>
                                <p>A strong synergy among the agencies, meticulous modus operandi, a solid organizational structure and rigorous qualification and efficiency of their collaborators, that’s how Main Agency is able to satisfy any requirement: from planning and managing any type of logistic service to public events arrangement for the companies, institutions and privates.</p>
                                <p>Main Agency is specialized in high quality services for companies involved in organization, management and producing of public events such as congresses, concerts, fashion shows, film sets and other various events.</p>
                            </div>
                        </article><!--/.post -->
                    </div><!--/.row-fluid -->
                </div><!--/.container-fluid -->

                <div id="services" class="container marketing">
                  <hr id="events" class="featurette-divider">
                  <div class="featurette">
                    <img class="life-style img-circle pull-left" src="/static/img/services/events.jpg">
                    <h2 class="featurette-heading">Events <span class="muted">All you need to Party</span></h2>
                    <p class="lead justifiedparagraph">
The planning of an event requires a meticulous analysis that implies interaction of various abilities, Main agency avails itself of its experience and high level know-how developed through years.

After a first research over the client’s needs and careful investigation about event’s requirements and logistics, Main Agency elaborates out-and-out logistic, commercial and communication strategy making use of its capabilities and its team. The primary goal of Main Agency is the customer’s satisfaction.

Main Agency takes care of many aspects such as budget administration, design menu, catering service, locations and transportations planning, coordinating the move-in and move-out operations.

The areas of intervention vary from Gala Parties to Film Premières, Main Agency is flawless in organization of commercial, cultural, corporate, show business events, conventions, themed evenings, wedding parties and any other type of special event.
                    </p>
                  </div>
                  <hr id="security" class="featurette-divider">
                  <div class="featurette">
                    <img class="life-style img-circle pull-right" src="/static/img/services/security.jpg">
                    <h2 class="featurette-heading">Security <span class="muted">All you need to Relax</span></h2>
                    <p class="lead justifiedparagraph">
Main Agency is made up of reputable security professionals and experts in this field.We offer a wide set of Security and Safety services that include planning, and carrying out of logistic turnkey strategies for suites, escorts and events like congresses, shows, concerts, tours or any kind of public or private event. Main Agency provides security solutions in hazard management for enterprises, institutions and private clients. Our clients are multinational companies, international organizations and important companies within the national territory. The security services include the strict VIP protection, personal safety of the employees and analysis of potential threats. Our approach is reactive and personalized. Our client’s tranquility is a reason for us to be proud.
</p>
<p>Our security services include:</p>
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#security">Access supervision</a></li>
                        <li class="active"><a href="#security">Security services for events</a></li>
                        <li class="active"><a href="#security">Clubs security</a></li>
                        <li class="active"><a href="#security">Corporate security</a></li>
                        <li class="active"><a href="#security">Private Security</a></li>
                        <li class="active"><a href="#security">Bodyguard</a></li>
                        <li class="active"><a href="#security">Marine security</a></li>
                        <li class="active"><a href="#security">Institution security</a></li>
                        <li class="active"><a href="#security">Vigilance service</a></li>
                    </ul>
                  </div>
                  <hr id="limousine" class="featurette-divider">
                  <div class="featurette">
                    <img class="life-style img-circle pull-left" src="/static/img/services/limousine.jpg">
                    <h2 class="featurette-heading">Limousine <span class="muted">All you need to Move</span></h2>
                    <p class="lead justifiedparagraph">
The Main Agency’s mission is to offer to the customers a prestigious and exclusive limousine service and renting with a driver for all types of occasions all around the world.

Thanks to the partnership with national and international limousine renting companies, world leaders, open 365 days a year 24/7 and to the collaboration of multilingual professionals with certifications and register inscriptions, we can present an offer of services that fully satisfies the client’s requirements.

You can choose among saloon cars, space wagons, SUV, vans, with welcoming service in airports, sea ports and train stations. For your events we are able to provide a same model and color rolling stock.

It’s our duty to give special attention to the elegance and privacy details of the service.
                    </p>
                  </div>
                  <hr id="life-style" class="featurette-divider">
                  <div class="featurette">
                    <img class=" img-circle pull-right" src="/static/img/services/life-style.jpg">
                    <h2 class="featurette-heading">Life Style <span class="muted">All you need to Enjoy</span></h2>
                    <p class="lead justifiedparagraph">
Main Agency specializes in providing an earth, sea and air luxury experience. Main Agency has gained experience in luxury yacht renting and offers brokerage for our net around the world. Let the Main Agency take care of everything while you are enjoying your holiday or business trip. Main Agency has access to a series of high-end luxury aircrafts in order to provide secure and efficient first class services, oriented towards public, private organizations and any other reality operating in show business sector.

With Main Agency you’ll have a wide selection of exclusive rentable residences for holidays or events, in Europe and all around the world. All our locations has been chosen for their position, quality and elegance. We offer only the best locations.

With Main Agency and its VIP care made up of personalized service, prestigious locations, watercrafts and aircrafts with a crew, your experiences will fully exceed your expectations.
                    </p>
                  </div>
                  <hr class="featurette-divider">
                </div><!-- /.container -->


            <!-- Rassegna Stampa -->
                <div id="press" class="container-fluid">
                    <div class="row-fluid">
                        <article class="post">
                            <header class="page-header">
                                <!--<ul class="breadcrumb">
                                  <li><a href="/">Home</a> <span class="divider">/</span></li>
                                  <!--{% if contents.category.name %}<li><a href="/{{contents.category.permalink}}/" title="{{contents.category.name}}">{{contents.category.name}}</a> <span class="divider">/</span></li>{% endif %}-->
                                  <!--<li class="active">Rassegna Stampa</li>
                                </ul>-->
                                <h1>Press Room</h1>
                            </header>
                            <div class="post justifiedparagraph">
                                <h3>Un vero bodyguard non dorme mai</h3>
                                <p>09 luglio 2011 | Fabrizio Basso - (IlSecoloXIX) - Genova - I locali li chiamano per vigilare sulla tranquillità degli ospiti. E loro rispondono, sorvegliando che tutto fili liscio durante le serate e che non ci siano eccessi, neppure compiuti da chi cerca un momento “a due” sulla spiaggia. Ce lo racconta Antonio Boccuni, 42 anni, di Taranto ma genovese di adozione, bodyguard di professione. La sua agenzia si chiama Main Agency e ha sede in via Odessa a Genova. Al suo fianco il fratello Francesco, il socio Luca Parodi e una squadra di circa 70 persone che accresce l’organico anche con i contratti a progetto. L’estate è per loro una stagione particolare, con le decine di richieste da parte dei locali che si arricchiscono di serate sulla spiaggia. Poi ci sono, è vero, clienti da guardare con occhi speciali: «Quando capitano al Covo di Nord Est a Santa Margherita Marina Berlusconi o Stefano Gabbana noi siamo lì. Discreti ma attenti. Siamo educati e professionali». Con tutti, anche con le coppiette appartate che non sempre reagiscono bene quando si trovano costrette a interrompere il loro idillio. E che magari si lasciano un po’ andare, complici il caldo e la sensazione, tipicamente estiva, di sentirsi più liberi.</p>
                                <p>fonte: IlSecoloXIX - <a href="http://www.ilsecoloxix.it/p/genova/2011/07/09/AOXn1Yj-dorme_vero_bodyguard.shtml" title="link articolo completo">link articolo completo</a></p>
                                <h3>Cinema: grande festa a Roma per il nuovo film di Muccino 'Un altro mondo'</h3>
                                <p>Roma, 18 dic.(2010) - (Adnkronos) - Serata all'insegna del divertimento, dello spettacolo, della grande musica e di tante performances a sorpresa che saranno svelate nel corso dell'esclusivo party organizzato per la presentazione del nuovo film di Silvio Muccino: "Un altro mondo" prodotto da Universal Pictures International e Cattleya. Dopodomani alle 23 all'Art Caffe', storico locale romano, si terra' un party unico con live show: "Le mani" Dj-set: Andro (Andrea Mariano from Negramaro) Federico Russo (from Radio Deejay) Max Brigante (from Radio 105) Fabri e Dario (2gether), ideato da Antonio Boccuni della Main Agency e organizzato da Irene Capuano dell'agenzia Ira. Sara' anche una serata dedicata alla riflessione e alla solidarieta' durante la quale Silvio Muccino e Carla Vangelista, con la partecipazione di Gianfranco Morino, presenteranno agli invitati l'iniziativa benefica "Progetto Neema" di cui Silvio e Carla sono testimonial. Tra le attrici presenti ci saranno Euridice Axen, Daniela Virgilio e molti altri.</p>
                                <p>fonte: Adnkronos - <a href="http://www.adnkronos.com/IGN/News/Spettacolo/Cinema-grande-festa-a-Roma-per-il-nuovo-film-di-Muccino-Un-altro-mondo_311423065614.html" title="link articolo completo">link articolo completo</a></p>
                            </div>
                        </article><!--/.post -->
                    </div><!--/.row-fluid -->
                </div><!--/.container-fluid -->

            <!-- Partners -->
                <div id="partners" class="container-fluid">
                    <div class="row-fluid">
                        <article class="post">
                            <header class="page-header">
                                <!--<ul class="breadcrumb">
                                  <li><a href="/">Home</a> <span class="divider">/</span></li>
                                  <!--{% if contents.category.name %}<li><a href="/{{contents.category.permalink}}/" title="{{contents.category.name}}">{{contents.category.name}}</a> <span class="divider">/</span></li>{% endif %}-->
                                  <!--<li class="active">Partners</li>
                                </ul>-->
                                <h1>Partners</h1>
                            </header>
                            <div class="post justifiedparagraph">
                                <a href="http://www.shipandcrew.it/noleggia_il_tuo_Yacht.html?utm_campaign=mainagency&amp;utm_medium=mainagency&amp;utm_source=mainagency" title="S.C.S." target="_blank">
                                    <img id="banner_scs" src="/static/img/banners/scs/image001.jpg" alt="S.C.S." />
                                </a>
                                <script type="text/javascript">
                                    var b_scs_c = 0;
                                    window.setInterval(function(){
                                        if (b_scs_c == 4)
                                            b_scs_c = 0;
                                        b_scs_c++;
                                        $('#banner_scs')[0].src = '/static/img/banners/scs/image00'+b_scs_c+'.jpg';
                                    }, 2000);
                                </script>
                            </div>
                        </article><!--/.post -->
                    </div><!--/.row-fluid -->
                </div><!--/.container-fluid -->

            <!-- Contacts -->
                <div id="contacts" class="container-fluid">
                    <div class="row-fluid">
                        <article class="post">
                            <header class="page-header">
                                <!--<ul class="breadcrumb">
                                  <li><a href="/">Home</a> <span class="divider">/</span></li>-->
                                  <!--{% if contents.category.name %}<li><a href="/{{contents.category.permalink}}/" title="{{contents.category.name}}">{{contents.category.name}}</a> <span class="divider">/</span></li>{% endif %}-->
                                  <!--<li class="active">Come Raggiungerci</li>
                                </ul>-->
                                <h1>Where We Are</h1>
                            </header>
                            <div class="post justifiedparagraph">
                                <div style="text-align:right" class="span3">
                                    <h3>Main Agency SRL</h3>
                                    <p>P.I. 02003830995</p>
                                    <h3>Ufficio</h3>
                                    <p>Via Odessa 10<br />
                                    16129 Genoa (Italy)<br /><br />
                                    Tel +39 010 859 2787<br />
                                    Fax +39 010 860 2638<br /><br />
                                    info @ mainagency.it<br />
                                    www . mainagency . it</p>
                                </div>
                                <div style="text-align:right" class="span3">
                                    <h3>Amministrazione</h3>
                                    <p>
                                    <b>Francesco Boccuni</b><br />
                                    Mobile +39 349 709 6068<br />
                                    francesco . boccuni @ mainagency . it<br /><br />
                                    <b>Antonio Boccuni</b><br />
                                    Mobile +39 347 265 1880<br />
                                    antonio . boccuni @ mainagency . it<br /><br />
                                    <b>Luca Parodi</b><br />
                                    Mobile +39 335 622 9101<br />
                                    luca . parodi @ mainagency . it</p>
                                </div>
                                <div class="span6">
                                    <p><a href="http://goo.gl/maps/ctTa" title="Clicca qui per la mappa!">
                                        <img class="img-polaroid" src="/static/img/map.png" alt="Clicca qui per la mappa" />
                                    </a></p>
                                </div>
                            </div>
                        </article><!--/.post -->
                    </div><!--/.row-fluid -->
                </div><!--/.container-fluid -->
{% endblock %}

{% block 'beforemainend' %}{% include 'default/js_twitter_auto_load.html' %}{% endblock %}