{% extends '_template.html' %}

{% block 'content' %}
                <div id="home" class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                            <article class="post">
                                <div class="post pagination-centered">
                                    <!-- Main Agency s.r.l. --><img src="/static/img/logo.png" alt="Main Agency s.r.l." /><br /><br />
                                    <!-- Languages --><a href="/it" title="Italiano"><img src="/static/img/langs/ita.png" style="width:5%" class="responsive-image logo" alt="Italiano" /></a> <a href="/en" title="English"><img src="/static/img/langs/eng.png" style="width:5%" class="responsive-image logo" alt="English" /></a> <a href="/ru" title="Russian"><img src="/static/img/langs/rus.png" style="width:5%" class="responsive-image logo" alt="Russian" /></a><br />
                                    <!-- All you need to Shine --><img src="/static/img/allyouneedtoshine.png" alt="All you need to Shine" />
                                </div>
                            </article><!--/.post -->
                        </div>
                    </div><!--/.row-fluid -->
                </div><!--/.container-fluid -->
{% endblock %}

{% block 'beforemainend' %}{% include 'default/js_twitter_auto_load.html' %}{% endblock %}