﻿{% extends '_template.html' %}

{% block 'navbar' %}{% include 'default/ru/navbar.html' %}{% endblock %}

{% block 'content' %}
            <!-- Generic Page -->
                <div id="home" class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                            <article class="post">
                                <div class="post pagination-centered">
                                    <!-- Main Agency s.r.l. --><img src="/static/img/logo.png" alt="Main Agency s.r.l." /><br />
                                    <!-- All you need to Shine --><img src="/static/img/allyouneedtoshine.png" alt="All you need to Shine" />
                                </div>
                            </article><!--/.post -->
                        </div>
                    </div><!--/.row-fluid -->
                </div><!--/.container-fluid -->

            <!-- News -->
                <div id="our_news" class="container-fluid justifiedparagraph">
                    <h1>News</h1>
                    <hr class="clear hr-inverted-margins" />
                    <div id="news" class="row-fluid twitter_auto_load twitter_limit_20 twitter_user_mainagency">
                    </div>
                    <a class="pull-right btn btn-warning" href="http://twitter.com/mainagency" title="Leggi tutte le news">Leggi tutte le news &raquo;</a>
                </div><!--/.container-fluid -->

            <!-- Company -->
                <div id="company" class="container-fluid">
                    <div class="row-fluid">
                        <article class="post">
                            <header class="page-header">
                                <!--<ul class="breadcrumb">
                                  <li><a href="/">Home</a> <span class="divider">/</span></li>
                                  <!--{% if contents.category.name %}<li><a href="/{{contents.category.permalink}}/" title="{{contents.category.name}}">{{contents.category.name}}</a> <span class="divider">/</span></li>{% endif %}-->
                                  <!--<li class="active">Profilo Aziendale</li>
                                </ul>-->
                                <h1>Company Overview</h1>
                            </header>
                            <div class="post justifiedparagraph">
                                <p>Main Agency имеет своё начало после объединения трех отдельных агентств уже оперирующих в секторе шоу бизнеса более 10и лет, и сразу же становится одной из самых новаторских и конкурентоспособных на территории страны в этом секторе и эталоном для предприятий и компаний, сохраняя этот статус и по сей день.</p>
                                <p>Агентство имеет национальных и интернациональных партнёров и многоязычный сертифицированный персонал зарегистрированный в профессиональные реестры.</p>
                                <p>Все наши сотрудники отобраны по критериям имиджа, вежливости, способностей в межличностных отношениях и культурного уровня.</p>
                                <p>Крепкие взаимодействия между агентствами, тщательный метод работы, надежная организационная структура, строгая подготовка и производительность их сотрудников, делают возможным для Main Agency удовлетворение каких угодно требования; начиная с планирования и управления любого организационного сервиса до организации общественных мероприятий для компаний, учреждений и частных лиц.</p>
                                <p>Main Agency специализирована в услугах высшего класса для предприятий связанных с организацией, управлением и осуществлением общественных мероприятий, таких как конгрессы, концерты, показы мод, съемочные площадки и многие другие события.</p>
                            </div>
                        </article><!--/.post -->
                    </div><!--/.row-fluid -->
                </div><!--/.container-fluid -->

                <div id="services" class="container marketing">
                  <hr id="events" class="featurette-divider">
                  <div class="featurette">
                    <img class="life-style img-circle pull-left" src="/static/img/services/events.jpg">
                    <h2 class="featurette-heading">МЕРОПРИЯТИЯ <span class="muted">All you need to Party</span></h2>
                    <p class="lead justifiedparagraph">Планирование мероприятия нуждается в тщательном анализе подразумевающий взаимодействие разных способностей, Main Agency использует для этого свой опыт и ноу-хау высшего уровня приобретённые за все это время.
                    После первоначального исследования требований клиента и тщательного анализа условий и организации мероприятия, Main Agency разрабатывает совершенную организационную, коммерческую и коммуникационную стратегию, пользуясь своими способностями и коллективом. Основная цель Main Agency это удовлетворенность клиента.
                    Main Agency заботится о многих аспектах таких как заведование бюджетом, дизайн меню, обслуживание, планирование расположения и транспортировки, координируя операции въезда и выезда.
                    Сферы участия разнообразны: от торжественных вечеринок / ужинов до кино-премьер, Main Agency безупречна в организации рекламных, культурных, общественных мероприятий, конвенций, событий шоу бизнеса, тематических вечеринок, свадеб и любых других особенных событий.</p>
                  </div>
                  <hr id="security" class="featurette-divider">
                  <div class="featurette">
                    <img class="life-style img-circle pull-right" src="/static/img/services/security.jpg">
                    <h2 class="featurette-heading">OXPAHA <span class="muted">All you need to Relax</span></h2>
                    <p class="lead justifiedparagraph">Main Agency составлена из профессионалов по безопасности и экспертов в этом деле.
                    Мы предлагаем обширный ассортимент услуг по охране и безопасности которые включают планирование, проектирование и реализацию под ключ организационных стратегий для сопровождений, конвоев и таких мероприятий как конгрессы, спектакли, концерты, гастроли, шоу, и любых других общественных или частных событий.
                    Main Agency предлагает решения по безопасности и управлению рисковых ситуаций для предприятий, учреждений и частных лиц. В круг наших клиентов входят интернациональные компании, организации и важные предприятия на территории страны.
                    В услуги по безопасности входят тщательная охрана V.I.P., частная безопасность служащих и анализ возможных угроз. Наш подход реактивный и персонализированный.
                    Спокойствие наших клиентов это наша гордость.
                    Our security services include:</p>
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#security">Access supervision</a></li>
                        <li class="active"><a href="#security">Security services for events</a></li>
                        <li class="active"><a href="#security">Clubs security</a></li>
                        <li class="active"><a href="#security">Corporate security</a></li>
                        <li class="active"><a href="#security">Private Security</a></li>
                        <li class="active"><a href="#security">Bodyguard</a></li>
                        <li class="active"><a href="#security">Marine security</a></li>
                        <li class="active"><a href="#security">Institution security</a></li>
                        <li class="active"><a href="#security">Vigilance service</a></li>
                    </ul>
                  </div>
                  <hr id="limousine" class="featurette-divider">
                  <div class="featurette">
                    <img class="life-style img-circle pull-left" src="/static/img/services/limousine.jpg">
                    <h2 class="featurette-heading">ЛИМУЗИН СЕРВИС <span class="muted">All you need to Move</span></h2>
                    <p class="lead justifiedparagraph">Миссия М.А. это дать клиентам возможность пользоваться престижным и эксклюзивным лимузин сервисом и нанимать водителя для любого случая по всему миру.
                    Благодаря партнёрству с национальными и интернациональными лимузин агентствами, лидерами на мировом уровне, открытыми в течении всего года 24 часа в сутки и сотрудничеству многоязычных сертифицированных профессионалов зарегистрированных в профессиональных реестрах, мы можем предложить услуги которые бы вполне удовлетворили требования клиента.
                    Наш парк состоит из седанов, микроавтобусов, внедорожников и фургонов, с услугами встречи в аэропортах, морских портах и на железнодорожных вокзалах. Для ваших мероприятий мы даже предоставляем парк все одного цвета и одной и той же модели.
                    Это наша задача тщательно позаботиться обо всех деталях элегантности и уединения.</p>
                  </div>
                  <hr id="life-style" class="featurette-divider">
                  <div class="featurette">
                    <img class=" img-circle pull-right" src="/static/img/services/life-style.jpg">
                    <h2 class="featurette-heading">ОБРАЗ ЖИЗНИ <span class="muted">All you need to Enjoy</span></h2>
                    <p class="lead justifiedparagraph">Main Agency специализирована в обеспечивании роскошных впечатлительных моментов на земле, в море и в воздухе. М.А. накопила опыт в прокате люкс яхт и в снабжении посреднических услуг по нашей сете в мировом масштабе. Доверьтесь М.А. и наслаждайтесь вашим путешествием, в то время как мы обо всем позаботимся. М.А. имеет доступ ко многим высококачественным люкс самолётам, предлагая надёжный и эффективный сервис первого класса, с ориентиром на общественные, частные организации и клиентов из шоу бизнеса.
                    Main Agency предоставит вам в аренду широкий выбор эксклюзивных резиденций для отдыха или мероприятий, в Европе и по всему миру. Все наши резиденции прошли отбор по основанию их местонахождения, качества и элегантности. Мы предлагаем только лучшее.
                    С Main Agency и её эксклюзивными услугами (персонализированный сервис, престижные расположения, яхты и самолёты с экипажем) ваши впечатления вполне превзойдут ваши ожидания.</p>
                  </div>
                  <hr class="featurette-divider">
                </div><!-- /.container -->


            <!-- Rassegna Stampa -->
                <div id="press" class="container-fluid">
                    <div class="row-fluid">
                        <article class="post">
                            <header class="page-header">
                                <!--<ul class="breadcrumb">
                                  <li><a href="/">Home</a> <span class="divider">/</span></li>
                                  <!--{% if contents.category.name %}<li><a href="/{{contents.category.permalink}}/" title="{{contents.category.name}}">{{contents.category.name}}</a> <span class="divider">/</span></li>{% endif %}-->
                                  <!--<li class="active">Rassegna Stampa</li>
                                </ul>-->
                                <h1>Press Room</h1>
                            </header>
                            <div class="post justifiedparagraph">
                                <h3>Un vero bodyguard non dorme mai</h3>
                                <p>09 luglio 2011 | Fabrizio Basso - (IlSecoloXIX) - Genova - I locali li chiamano per vigilare sulla tranquillità degli ospiti. E loro rispondono, sorvegliando che tutto fili liscio durante le serate e che non ci siano eccessi, neppure compiuti da chi cerca un momento “a due” sulla spiaggia. Ce lo racconta Antonio Boccuni, 42 anni, di Taranto ma genovese di adozione, bodyguard di professione. La sua agenzia si chiama Main Agency e ha sede in via Odessa a Genova. Al suo fianco il fratello Francesco, il socio Luca Parodi e una squadra di circa 70 persone che accresce l’organico anche con i contratti a progetto. L’estate è per loro una stagione particolare, con le decine di richieste da parte dei locali che si arricchiscono di serate sulla spiaggia. Poi ci sono, è vero, clienti da guardare con occhi speciali: «Quando capitano al Covo di Nord Est a Santa Margherita Marina Berlusconi o Stefano Gabbana noi siamo lì. Discreti ma attenti. Siamo educati e professionali». Con tutti, anche con le coppiette appartate che non sempre reagiscono bene quando si trovano costrette a interrompere il loro idillio. E che magari si lasciano un po’ andare, complici il caldo e la sensazione, tipicamente estiva, di sentirsi più liberi.</p>
                                <p>fonte: IlSecoloXIX - <a href="http://www.ilsecoloxix.it/p/genova/2011/07/09/AOXn1Yj-dorme_vero_bodyguard.shtml" title="link articolo completo">link articolo completo</a></p>
                                <h3>Cinema: grande festa a Roma per il nuovo film di Muccino 'Un altro mondo'</h3>
                                <p>Roma, 18 dic.(2010) - (Adnkronos) - Serata all'insegna del divertimento, dello spettacolo, della grande musica e di tante performances a sorpresa che saranno svelate nel corso dell'esclusivo party organizzato per la presentazione del nuovo film di Silvio Muccino: "Un altro mondo" prodotto da Universal Pictures International e Cattleya. Dopodomani alle 23 all'Art Caffe', storico locale romano, si terra' un party unico con live show: "Le mani" Dj-set: Andro (Andrea Mariano from Negramaro) Federico Russo (from Radio Deejay) Max Brigante (from Radio 105) Fabri e Dario (2gether), ideato da Antonio Boccuni della Main Agency e organizzato da Irene Capuano dell'agenzia Ira. Sara' anche una serata dedicata alla riflessione e alla solidarieta' durante la quale Silvio Muccino e Carla Vangelista, con la partecipazione di Gianfranco Morino, presenteranno agli invitati l'iniziativa benefica "Progetto Neema" di cui Silvio e Carla sono testimonial. Tra le attrici presenti ci saranno Euridice Axen, Daniela Virgilio e molti altri.</p>
                                <p>fonte: Adnkronos - <a href="http://www.adnkronos.com/IGN/News/Spettacolo/Cinema-grande-festa-a-Roma-per-il-nuovo-film-di-Muccino-Un-altro-mondo_311423065614.html" title="link articolo completo">link articolo completo</a></p>
                            </div>
                        </article><!--/.post -->
                    </div><!--/.row-fluid -->
                </div><!--/.container-fluid -->

            <!-- Partners -->
                <div id="partners" class="container-fluid">
                    <div class="row-fluid">
                        <article class="post">
                            <header class="page-header">
                                <!--<ul class="breadcrumb">
                                  <li><a href="/">Home</a> <span class="divider">/</span></li>
                                  <!--{% if contents.category.name %}<li><a href="/{{contents.category.permalink}}/" title="{{contents.category.name}}">{{contents.category.name}}</a> <span class="divider">/</span></li>{% endif %}-->
                                  <!--<li class="active">Partners</li>
                                </ul>-->
                                <h1>Partners</h1>
                            </header>
                            <div class="post justifiedparagraph">
                                <a href="http://www.shipandcrew.it/noleggia_il_tuo_Yacht.html?utm_campaign=mainagency&amp;utm_medium=mainagency&amp;utm_source=mainagency" title="S.C.S." target="_blank">
                                    <img id="banner_scs" src="/static/img/banners/scs/image001.jpg" alt="S.C.S." />
                                </a>
                                <script type="text/javascript">
                                    var b_scs_c = 0;
                                    window.setInterval(function(){
                                        if (b_scs_c == 4)
                                            b_scs_c = 0;
                                        b_scs_c++;
                                        $('#banner_scs')[0].src = '/static/img/banners/scs/image00'+b_scs_c+'.jpg';
                                    }, 2000);
                                </script>
                            </div>
                        </article><!--/.post -->
                    </div><!--/.row-fluid -->
                </div><!--/.container-fluid -->

            <!-- Contacts -->
                <div id="contacts" class="container-fluid">
                    <div class="row-fluid">
                        <article class="post">
                            <header class="page-header">
                                <!--<ul class="breadcrumb">
                                  <li><a href="/">Home</a> <span class="divider">/</span></li>-->
                                  <!--{% if contents.category.name %}<li><a href="/{{contents.category.permalink}}/" title="{{contents.category.name}}">{{contents.category.name}}</a> <span class="divider">/</span></li>{% endif %}-->
                                  <!--<li class="active">Come Raggiungerci</li>
                                </ul>-->
                                <h1>Where We Are</h1>
                            </header>
                            <div class="post justifiedparagraph">
                                <div style="text-align:right" class="span3">
                                    <h3>Main Agency SRL</h3>
                                    <p>P.I. 02003830995</p>
                                    <h3>Ufficio</h3>
                                    <p>Via Odessa 10<br />
                                    16129 Genoa (Italy)<br /><br />
                                    Tel +39 010 859 2787<br />
                                    Fax +39 010 860 2638<br /><br />
                                    info @ mainagency.it<br />
                                    www . mainagency . it</p>
                                </div>
                                <div style="text-align:right" class="span3">
                                    <h3>Amministrazione</h3>
                                    <p>
                                    <b>Francesco Boccuni</b><br />
                                    Mobile +39 349 709 6068<br />
                                    francesco . boccuni @ mainagency . it<br /><br />
                                    <b>Antonio Boccuni</b><br />
                                    Mobile +39 347 265 1880<br />
                                    antonio . boccuni @ mainagency . it<br /><br />
                                    <b>Luca Parodi</b><br />
                                    Mobile +39 335 622 9101<br />
                                    luca . parodi @ mainagency . it</p>
                                </div>
                                <div class="span6">
                                    <p><a href="http://goo.gl/maps/ctTa" title="Clicca qui per la mappa!">
                                        <img class="img-polaroid" src="/static/img/map.png" alt="Clicca qui per la mappa" />
                                    </a></p>
                                </div>
                            </div>
                        </article><!--/.post -->
                    </div><!--/.row-fluid -->
                </div><!--/.container-fluid -->
{% endblock %}

{% block 'beforemainend' %}{% include 'default/js_twitter_auto_load.html' %}{% endblock %}